body.o_web_client {
    background-color: var(--tele-theme-body-color) !important;
    color: var(--tele-theme-body-text-color) !important;

    .o_input .o_input {
        border: 0 !important;
    }

    input[type="color"] {
        appearance: none;
        padding: 0;
        border: none;
        border-radius: var(--border-radius-lg);
        width: 25px;
        height: 25px;
        &::-webkit-color-swatch {
            border: none;
            border-radius: var(--border-radius-lg);
            padding: 0;
        }
        &::-webkit-color-swatch-wrapper {
            border: none;
            border-radius: var(--border-radius-lg);
            padding: 0;
        }
    }

    .o_main_navbar .o_menu_toggle, .o_main_navbar .o_navbar_apps_menu {
        font-size: inherit;
    }

    .o_DiscussSidebarItem_counter {
        background-color: var(--tele-theme-primary-color) !important;
        color: var(--tele-theme-primary-text-color) !important;
    }

    .o_loading {
        > span {
            background-color: var(--tele-theme-primary-color) !important;
        }
        background-color: var(--tele-theme-primary-color) !important;
    }

    .note-popover .popover .popover-body, .panel-heading.note-toolbar{
        background-color: var(--tele-theme-secondary-color)!important;
        color: var(--tele-theme-secondary-text-color)!important;
        .btn{
            background: var(--tele-theme-secondary-color)!important;
        }
    }

    .o_datepicker {
        .o_datepicker_button{
            top: 10px;
            right: 15px;
        }
    }

    .o_dropdown_menu, .dropdown-menu{
        background-color: var(--tele-theme-secondary-color)!important;
        border-color: var(--tele-theme-secondary-color)!important;
        color: var(--tele-theme-secondary-text-color)!important;
        border-radius: var(--border-radius-md) !important;
        > .dropdown-item{
            color: var(--tele-theme-body-text-color)!important;
            &:hover, &:focus{
                background-color: var(--primary-rgba) !important;
                color: var(--tele-theme-primary-text-color) !important;
            }
        }
        .o_menu_item{
            > .dropdown-item{
                color: var(--tele-theme-body-text-color)!important;

                &:hover, &:focus{
                    background-color: var(--primary-rgba) !important;
                    color: var(--tele-theme-primary-text-color) !important;
                }
            }
        }
    }
    input, textarea{
        background-color: transparent !important;
        color: var(--tele-theme-body-text-color);

        &::placeholder, &:focus{
            color: var(--tele-theme-body-text-color);
        }
    }
    select{
        background-color: transparent !important;
        color: var(--tele-theme-body-text-color) !important;
        option{
            border-radius: var(--border-radius-md);
            color: var(--tele-theme-body-text-color)!important;
            background-color: var(--tele-theme-body-color);
        }
    }
    .o_input{
        min-height: var(--input-height);
        border: 1px solid #e4e6ef;
        border-radius: var(--border-radius-md);
        > .o_input {
            min-height: calc(var(--input-height) - 2px);
            border: 0 !important;
            padding: 1 !important;
        }
        &:focus{
            border-color: var(--primary-rgba)!important;
        }
    }
    .o_form_label.o_required_modifier{
        color: var(--tele-theme-primary-color);
    }
    .o_required_modifier.o_input, .o_required_modifier .o_input{
        padding: 1 !important;
        border-color: var(--tele-theme-primary-color);
        background-color: transparent !important;
    }

    .list-group-item-light, .list-group-item{
        background-color: var(--tele-theme-secondary-color) !important;
        color: var(--tele-theme-secondary-text-color) !important;
    }
    
    /* Many2one Field Suggestion options dropdown style */
    .ui-autocomplete{
        border-radius: var(--border-radius-lg);
        background-color: var(--tele-theme-body-color)!important;
        overflow: auto;
        .ui-menu-item{
            > a{
                color: var(--tele-theme-body-text-color) !important;
            }
            .ui-menu-item-wrapper{
                &.ui-state-active{
                    background-color: var(--tele-theme-primary-color) !important;
                    color: var(--tele-theme-primary-text-color) !important;
                }
            }
        }
    }

    .o_popover, .o_cw_popover, .o_PopoverView{
        background-color: var(--tele-theme-secondary-color);
        color: var(--tele-theme-secondary-text-color);
        border-radius: var(--border-radius-lg);
        .o_popover_header{
            border-top-left-radius: var(--border-radius-lg);
            border-top-right-radius: var(--border-radius-lg);
            background-color: var(--tele-theme-secondary-color);

        }
    }
    .o_cw_popover{
        background-color: var(--tele-theme-secondary-color);
        color: var(--tele-theme-secondary-text-color);
        border-radius: var(--border-radius-lg);

        .badge{
            span.o_badge_text{
                color: unset !important;
            }
        }
        .card-header{
            border-top-right-radius: var(--border-radius-lg);
            border-top-left-radius: var(--border-radius-lg);
        }
        .card-footer{
            border-bottom-right-radius: var(--border-radius-lg);
            border-bottom-left-radius: var(--border-radius-lg);
        }

        .card-header, .card-footer, .popover-header{
            background-color: var(--tele-theme-secondary-color) !important;
            color: var(--tele-theme-secondary-text-color) !important;
        }
        .o_cw_popover_close{
            color: var(--tele-theme-secondary-text-color) !important;
        }
    }

    .o_onboarding_container{
        .o_onboarding{
            border-radius: var(--border-radius-lg);
        }
    }

    .o_view_sample_data{
        .o_nocontent_help{
            border-radius: var(--border-radius-lg);
            background-color: var(--tele-theme-body-color);
            color: var(--tele-theme-body-text-color);
            box-shadow: 0 0 120px 100px var(--tele-theme-secondary-color);

            > p:first-of-type{
                color: var(--tele-theme-body-text-color);
            }
        }
    }

    .o_content {
        .o_graph_renderer {
            padding: 30px 0 30px 0px !important;

            .o_graph_canvas_container canvas {
                background-color: transparent !important;
            }
        }

        .nav.nav-tabs {
            border-bottom: 0px !important;

            .nav-item {
                margin-bottom: 0;
                .nav-link {
                    padding: calc(.55rem + 1px) calc(1.25rem + 1px);
                    margin-right: 0.25rem;
                    font-weight: 500;
                }

            }
        }
    }


    /* All Btn Class style */
    
    .btn {
        border-radius: var(--border-radius-md) !important;
        padding: 0.6rem 1rem !important;
    }
    a{
        color: var(--tele-theme-primary-color);
    }

    .btn.btn-link {
        background-color: unset !important;
        color: var(--tele-theme-primary-color) !important;
        border: unset !important;
    }

    .btn-primary, .btn-fill-primary {
        background-color: var(--tele-theme-primary-color) !important;
        border-color: var(--tele-theme-primary-color) !important;
        color: var(--tele-theme-primary-text-color) !important;
        opacity: 0.9;

        &:hover {
            opacity: 1;
        }

        &:active {
            background-color: var(--tele-theme-primary-color) !important;
            color: var(--tele-theme-primary-text-color) !important;
            opacity: 1;
        }
    }

    .btn-secondary, .btn-fill-secondary, .btn-light:not(.bookmark_tag), .btn-fill-light {
        background-color: var(--tele-theme-secondary-color) !important;
        color: var(--tele-theme-secondary-text-color) !important;
        opacity: 0.9;

        &:hover {
            background-color: var(--tele-theme-secondary-color) !important;
            color: var(--tele-theme-secondary-text-color) !important;
            opacity: 1;
        }

        &:active {
            background-color: var(--tele-theme-secondary-color) !important;
            color: var(--tele-theme-secondary-text-color) !important;
            opacity: 1;
        }
    }

    .badge{
        border-radius: var(--border-radius-md);
    }

    .badge-primary {
        background-color: var(--tele-theme-primary-color) !important;
        color: var(--tele-theme-primary-text-color) !important;
    }

    .badge-secondary {
        background-color: var(--tele-theme-secondary-color) !important;
        color: var(--tele-theme-primary-text-color) !important;
    }
    .text-muted {
        color: var(--tele-theme-body-text-color) !important;
        opacity: 0.5;
    }

    .custom-switch .custom-control-label {
        padding-left: 28px;
    }

    .custom-control-input:focus:not(:checked) ~ .custom-control-label::before,
    .custom-control-input:not(:disabled):active ~ .custom-control-label::before{
        border-color: var(--tele-theme-primary-color);
        background-color: transparent;
    }

    .custom-switch .custom-control-label::before {
        width: 4rem !important;
        height: 1.75rem !important;
        border-radius: 2rem !important;
        pointer-events: all !important;
        top: 0 !important;
        border-color: var(--tele-theme-primary-color);
        background-color: transparent;
    }

    .custom-switch .custom-control-label::after {
        width: calc(1.78rem - 5px) !important;
        height: calc(1.78rem - 5px) !important;
        border-radius: 2rem !important;
        top: calc(0.3125rem + -2px) !important;
        left: calc(-2.25rem + 2px) !important;
        background-color: var(--tele-theme-primary-color) !important;
    }

    .custom-control-input:checked~.custom-control-label::before {
        color: #1280c9;
        border-color: var(--tele-theme-primary-color);
        background-color: var(--tele-theme-primary-color);
    }

    .custom-switch .custom-control-input:checked~.custom-control-label::after {
        transform: translateX(2.2rem);
        background-color: var(--tele-theme-primary-text-color) !important;
    }

    // v15 changes
    .o_main_navbar .dropdown .dropdown-toggle, .o_main_navbar .o_menu_sections .dropdown .dropdown-toggle, .o_main_navbar .o_menu_systray .dropdown .dropdown-toggle, .o_main_navbar .o_nav_entry, .o_main_navbar .o_menu_sections .o_nav_entry, .o_main_navbar .o_menu_systray .o_nav_entry, .o_main_navbar > .o_menu_sections > div, .o_main_navbar > .o_menu_sections > div > a, .o_main_navbar .o_menu_systray > div, .o_main_navbar .o_menu_systray > div > a, .o_main_navbar .o_menu_toggle, .o_main_navbar .o_navbar_apps_menu, .o_main_navbar .o_menu_brand {
        height: unset;
        background: transparent;
    }
    .o_data_row.text-info {
        color: inherit !important;
    }
}

body.o_web_client {
    .custom-control-label.o_form_label {
        padding-left: 4px;
        padding-right: 4px;
    }

    .o_base_settings.oe_form_configuration {
        .o_setting_container {
            .settings {
                >.app_settings_block {
                    h2 {
                        margin-top: 0 !important;
                    }
                }
            }
        }
    }
    .o_field_widget .o_input_dropdown .o_dropdown_button:after, .o_field_widget .o_input_dropdown .o_datepicker_button:after, .o_field_widget.o_datepicker .o_dropdown_button:after, .o_field_widget.o_datepicker .o_datepicker_button:after {
        border-top: 4px solid;
        border-top-color: inherit;
        margin-right: .5px;
        
    }
    .badge.badge-pill {
        max-height: 20px;
    }
    .dropdown-item.active:not(.dropdown-item_active_noarrow):before, .dropdown-item.selected:not(.dropdown-item_active_noarrow):before {
        color: var(--tele-theme-primary-color);
    }
}

body.o_web_client.dark_mode {
    hr {
        border-color: #414141 !important;
        background: #414141 !important;
    }

    .border-bottom{
        border-color: #414141 !important;
    }

    * {
        border-color: #414141;
    }

    .o_input{
        &:focus{
            border-color: var(--primary-rgba) !important;
        }
    }
    .o_required_modifier.o_input, .o_required_modifier .o_input{
        border-color: var(--tele-theme-primary-color);
    }
    .text-900, h1, .o_form_view .o_form_label:not(.o_required_modifier) {
        color: inherit !important;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane.container div[class*="col-"] > .o_kanban_card_manage_title, .o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane.o_container_small div[class*="col-"] > .o_kanban_card_manage_title, .h6 {
        color: inherit;
    }
}
