.o_burger_menu {
    .o_burger_menu_topbar {
        .dropdown-toggle {
            .fa {
                &:before{
                    font-family: 'remixicon' !important;
                    content: "\ea6e";
                    vertical-align: inherit;
                }
            }
            &.active {
                .fa {
                    &:before{
                        content: "\ea4e" !important;
                    }
                }
                background: transparent;
                color: var(--tele-theme-primary-text-color);
            }
        }
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: var(--border-radius-lg);
        margin-bottom: 1rem;
    }
    .o_burger_menu_content {
        .o_burger_menu_user {
            .o_user_menu_mobile {
                .dropdown-item {
                    padding: 3px 0 3px 10px;
                    color: var(--tele-theme-body-text-color) !important;
                    min-height: unset;
                    font-size: inherit;
                    line-height: unset;
                }
                background-color: var(--tele-theme-body-color);
                margin-top: 0 !important;
                border-radius: var(--border-radius-lg);
                padding: 10px;
            }
        }
        .o_menu_sections {
            .o_burger_menu_section {
                button.dropdown-toggle {
                    span {
                        height: 35px !important;
                        line-height: 35px !important;
                        min-height: 35px;
                        font-size: inherit;
                    }
                    background-color: rgba(255, 255, 255, 0.05);
                    color: var(--tele-theme-primary-text-color) !important;
                    border-radius: var(--border-radius-lg);
                }
                .dropdown-menu {
                    .dropdown-item {
                        span {
                            padding: 3px 0 3px 10px;
                            color: var(--tele-theme-primary-text-color) !important;
                            min-height: unset;
                        }
                    }
                    background-color: transparent !important;
                    box-shadow: none;
                }
            }
        }
        background-color: transparent !important;
    }
    background-color: var(--tele-theme-primary-color);
    padding: 10px;
    max-width: 300px;
}