@mixin form-chatter-designs{
    .o_action_manager {
        .o_view_controller {

            > .o_content > .o_form_view {
                display: block;
                height: 100%;

                .o_form_sheet_bg {
                    .o_form_statusbar {
                        margin: 0;
                    }
                    width: 100%;
                    padding: 0;
                }

                .o_FormRenderer_chatterContainer {
                    min-height: 100%;
                    width: 100%;
                    margin: 0;
                    padding-bottom: 1rem;
                    flex-basis: 100%;
                    padding-left: 1rem;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    .o_Chatter {
                        height: 100%;
                    }

                    .o_Chatter_scrollPanel {
                        &::-webkit-scrollbar {
                            display: none;
                        }
                    }
                }
            }
        }

    }

    // check this in repsonsive
    .o_form_view {
        .o_FormRenderer_chatterContainer {
            border: 0;
            max-width: 100% !important;
            padding: 0 !important;
            margin-bottom: 1rem;
        }
    }
}

body.o_web_client {
    .o_Message{
        background-color: transparent;
    }
    .o_Attachment{
        &.o-has-card-details{
            color: #121212;
        }
    }
    &.chatter_bottom {
        @include form-chatter-designs;
    }
    &.top_menu_vertical{
        @media (max-width: 1470px) {
            &.chatter_right {
                @include form-chatter-designs;
            }
        }
    }
    
    &.top_menu_horizontal{
        @include media-breakpoint-down(lg) {
            &.chatter_right {
                @include form-chatter-designs;
            }
        }
    }
    &.tree_form_split_view{
        .o_view_controller.tree-form-viewer {
            > .o_content > .o_form_view {
                display: block;
                height: 100%;

                .o_form_sheet_bg {
                    .o_form_statusbar {
                        margin: 0;
                    }
                    width: 100%;
                    padding: 0;
                }

                .o_FormRenderer_chatterContainer {
                    min-height: 100%;
                    width: 100%;
                    margin: 0;
                    padding-bottom: 1rem;
                    flex-basis: 100%;
                    padding-left: 1rem;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    .o_Chatter {
                        height: 100%;
                    }

                    .o_Chatter_scrollPanel {
                        &::-webkit-scrollbar {
                            display: none;
                        }
                    }
                }
            }
        }
    } 
}