// Search-bar Design in fullpage
#search_bar_modal {
    input,select,textarea{
        background-color: rgba(17, 145, 219, 0.887);
    }
    .close{
        box-shadow: none;
        outline: none;
    }
    .form-control{
        box-shadow: none !important;
        border: 0;
        border-radius: 0;
        height: var(--input-height);
        font-size: 18px;
    }
    .load-active-menu-selector{
        max-width: 170px;
    }
    #searchPagesInput{
        margin-left: 15px;
    }
    #searchPagesResults {
        list-style: none;
        padding-left: 0;
    }
    .auto-complete-result {
        .search_list_content {
            border-radius: var(--border-radius-md) !important;
            border: 1px solid;
            border-color: #b0b2b4b4;
            margin-bottom: 5px;

            .autoComplete_highlighted{
                padding: 0.75rem 1rem;
                display: block;

                b{
                    color: var(--tele-theme-primary-color);
                }
            }
            &.navigate_active{
                border-color: var(--tele-theme-primary-color) !important;
            }
            &:hover {
                border-color: var(--tele-theme-primary-color) !important;
                cursor: pointer;
            }
        }
    }
}
// search bar design end