@mixin Notification-manager() {
    .o_notification_manager {
        top: auto;
        bottom: 52px;
        right: 15px;
        border-radius: 2px !important;

        .o_notification {
            box-shadow: none;
            border: 0;
            margin: 0px 0px 10px 0px;
            border-radius: 2px;

            .toast-header {
                color: $white;
                background-color: transparent;
            }

            .o_notification_body {
                background-color: $tr-hover !important;
                color: white;
                padding: 0 0 1rem 0;

                .o_notification_title {
                    background-color: var(--brand-primary);
                    padding: 8px 0.625rem;
                    margin-bottom: 10px !important;
                }

                .o_notification_close {
                    color: $white;
                    margin-right: 0.5rem;
                }

                .o_notification_content {
                    padding: 0 5px;

                    &:first-of-type {
                        margin-top: 10px;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}