@mixin group-kanban() {
    &.o_kanban_grouped {
        display: inline-flex;
        border: 0;
        border-bottom: 1px solid var(--border);
        background-color: $white;

        .o_kanban_group {
            padding: 0px;
            padding-bottom: 15px;
            border-right: 1px solid var(--border);

            .o_kanban_header {
                padding: 5px;
                background-color: rgba($button-box, .03);
                border-bottom: 1px solid var(--border);

                .o_kanban_header_title,
                .o_kanban_counter {
                    margin-top: 0px;
                    margin-bottom: 0px;

                    .o_kanban_quick_add {
                        .fa-plus {
                            color: var(--button-box);
                            opacity: 1;
                            margin: 0;
                            padding: 0px 5px;
                            font-size: 18px;
                        }
                    }

                    .o_kanban_config {
                        .fa-gear {
                            color: var(--button-box);
                            opacity: 1;
                            margin: 0;
                            padding: 0px 5px;
                            font-size: 18px;
                        }
                    }

                    .o_column_title {
                        color: var(--Label-value);
                        top: 35px;
                        font-size: 14px;
                    }
                }
            }

            .o_kanban_record {
                background-color: $body-bg;
                margin: 5px 10px;
                width: 93%;
                padding: 5px;
                border: 0;
                border-bottom: 1px solid var(--border);

                .oe_kanban_content {
                    .o_kanban_record_title {
                        color: var(--Label-value);
                    }

                    .oe_kanban_avatar {
                        @include round-border();
                    }
                }

                .o_kanban_image_fill_left {
                    width: 50px;
                    height: 50px;
                    @include round-border();
                }
            }

            &.o_column_folded {
                background-color: $tr-hover;
            }

            .o_kanban_quick_create {
                box-shadow: none;
                margin: 0;
                border: 0;
                @include border-animation();
                background-size: 94% 1px;

            }
        }

        .o_column_quick_create {
            background-color: $white;
            padding: 4px 15px;

            .o_quick_create_unfolded {
                box-shadow: none;
                background-color: transparent;

                .o_kanban_header {
                    opacity: 1;
                    height: auto;
                    display: inline-block;

                    .o_kanban_add_column {
                        .fa-plus {
                            color: var(--button-box);
                            opacity: 1;
                            margin: 0;
                            padding: 0px 5px;
                            font-size: 18px;
                        }
                    }

                    .o_kanban_examples {
                        padding: 0;
                    }

                    .input-group {
                        padding-bottom: 5px;
                        padding-top: 7px;
                        box-shadow: none;
                        background-color: $white;

                        .o_input {
                            margin-right: 10px;
                            padding: 0px;
                            background-color: transparent;

                            &:focus {
                                box-shadow: none;
                                @include border-animation();
                            }
                        }
                    }
                }
            }

            .o_quick_create_folded {
                opacity: 1;
                color: var(--Label-value);
                font-weight: var(--font-weight-5);
                vertical-align: middle;
                display: inline-block;
                vertical-align: middle;

                .o_kanban_add_column {
                    background-color: transparent;
                    vertical-align: middle;
                    padding: 8px 5px;

                    &>i {
                        font-size: 18px;
                    }
                }

                .o_kanban_title {
                    font-size: $font-size-8;
                }
            }
        }
    }
}