@mixin kanban_model_open() {
    &.modal-open {
        .o_technical_modal {
            .modal-dialog {
                .modal-content {
                    .o_kanban_examples_dialog {
                        .o_kanban_examples_dialog_nav {
                            ul {
                                li {
                                    a.active {
                                        background-color: var(--brand-secondary);
                                    }
                                }
                            }
                        }

                        .o_kanban_examples_dialog_content {
                            background-color: $white;

                            .o_kanban_examples_ghost {
                                border: 1px solid var(--border);
                            }
                        }
                    }
                }
            }
        }
    }
}