@mixin model-search-view() {
    .o_cp_bottom {
        .o_cp_bottom_left {
            .o_cp_buttons {
                .o_display_density {
                    display: none;
                }
            }
        }

        .o_main_cp_buttons {
            display: none;
        }
    }

    .o_cp_top {
        position: relative;

        .o_search_options {
            position: absolute !important;
            top: 100%;

            .o-dropdown--menu {
                padding: 8px;
            }

            @include dropdown-btn-checkbox();
        }
    }

    .o_cp_action_menus {
        position: absolute;
        top: 0;

        .o_sidebar_drw {
            display: none;
        }

        .btn-group.o_dropdown.ad_active,
        .btn-group.o_dropdown {
            .dropdown-menu {
                display: none;
            }

            &.show {
                .dropdown-menu {
                    display: block;
                }
            }
        }
    }
}