@mixin control-panel-top() {
    align-items: center;
    height: 100%;
    margin: auto;
    width: 100%;
    @include cp_search_option();
    @include cp_action_buttons();

    .o_cp_top_left {
        ol.breadcrumb {
            flex-wrap: nowrap;
            align-items: center;

            .breadcrumb-item {
                font-size: 16px;

                &.active {
                    color: var(--Label-value);
                }
            }
        }
    }

    .o_cp_top_right {
        @include cp-search-view();
    }

    .o_cp_switch_buttons {
        >button {
            padding: 0 0 0 10px;

            .btn-secondary {
                border: 0;
                background-color: transparent;
                color: var(--brand-primary);
                font-size: $font-size-8;
            }
        }

        .dropdown-menu-right {
            left: auto;
            right: 0;
            min-width: 250px;
            border-radius: 2px;
            padding: 5px;
            margin-top: 8px;

            button {
                float: left;
                width: 46%;
                border: 0;
                border-radius: 2px;
                box-shadow: none;
                text-align: center;
                font-size: $font-size-1;
                padding: 10px;
                color: var(--button-box);
                outline: none;
                font-family: roboto;
                margin-left: 5px;
                background-color: transparent;

                &.active {
                    color: darken($button-box, 7%);
                    @include border-animation();
                }

                &:hover {
                    color: darken($button-box, 7%);
                    @include border-animation();
                }

                &:before {
                    font-family: FontAwesome;
                    margin-right: 5px;
                    font-size: $font-size-6;
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}