@mixin cp-search-view() {
    .o_cp_searchview {
        .o_searchview {
            display: flex;
            align-items: center;
            padding: 0;
            border: 0;
            border-radius: 2px;
            min-height: 34px;

            .o_searchview_icon {
                position: relative;
                display: inline-flex;
                min-height: inherit;
                vertical-align: middle;
                left: auto;
                right: auto;
                padding: 0 8px;
                top: auto;
                bottom: auto;
                align-items: center;
                font-size: $font-size-0;
            }

            .o_searchview_input {
                padding: 0;
                margin: 2px;
            }

            .o_search_recs {
                position: absolute;
                right: 0px;
                top: 2px;
                left: auto;
                padding: 10px;
                z-index: 1002;
                border-bottom: 0;
                background: white;
                border: 1px solid var(--border);
                order: 1;

                &:after {
                    display: none;
                }
            }
        }

        .o_searchview_input_container,
        .o_search_rec_ul {
            .o_searchview_facet {
                margin: 2px;
                display: inline-flex;
                background-color: transparent;
                font-size: $font-size-2;
                position: relative;

                .o_searchview_facet_label {
                    padding: 0 7px;
                    background-color: var(--brand-primary);
                    white-space: nowrap;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }

                .o_facet_values {
                    display: inline-flex;
                    align-items: center;

                    .o_facet_values_sep {
                        margin: 0 3px;
                    }
                }

                .o_facet_remove {
                    color: var(--brand-primary);
                }
            }
        }

        .o_search_rec_ul {
            padding: 5px;
            top: 100% !important;
            right: 0;
            z-index: 1111;
            transform: unset !important;

            .o_searchview_facet {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                min-height: 34px;
                margin: 1px 3px 0 0;
                outline: unset;

                .o_searchview_facet_label {
                    display: inline-flex;
                    align-items: center;
                    color: white;
                }

                .o_facet_values {
                    padding: 0 18px 0 5px;
                }

                .o_facet_remove {
                    @include o-position-absolute(0, 4px, 0, auto);
                    z-index: 1;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .o_searchview_input_container {
            width: 100%;
            min-height: inherit;
            padding-right: 25px;

            .o_searchview_autocomplete {
                left: 0;
                right: -10px;
                z-index: 9999;

                .o_selection_focus {
                    background-color: $tr-hover;

                    &>a {
                        color: var(--Label-value);
                    }
                }
            }
        }
    }
}