$rt_alpha_theme_color_type:style_1;
$rt_alpha_theme_primary_1_color:#068e44;
$rt_alpha_theme_primary_2_color:#e6f3ec; 
$rt_alpha_theme_secondary_color:#f5f5fa;                                  
$rt_alpha_theme_background_type:none; 
// $rt_alpha_theme_background_color:#ffffff;              
$rt_alpha_button_type:style_1; 
// $rt_alpha_button_color_type:solid; 
$rt_alpha_button_primary_1_color:#068e44; 
$rt_alpha_button_primary_2_color:#e6f3ec; 
$rt_alpha_button_secondary_color:#eeeeee;                                     
// $rt_alpha_is_use_google_font:False; 
// $rt_alpha_google_font_family:False;
$rt_alpha_sidebr_type:default; 
$rt_alpha_sidebar_position:left; 
$rt_alpha_font_style:default; 
$rt_alpha_checkbox_style:style_1; 
$rt_alpha_radion_btn_style:style_2;
$rt_alpha_theme_loading_type:default;
$rt_alpha_theme_scrollbar_style:style_1; 
$rt_alpha_theme_tab_style:default;
$rt_alpha_theme_form_style:default;

$rt_alpha_theme_sticky_tree_view:True;
$rt_alpha_theme_one2many_field_tree_view:True;
$rt_alpha_theme_sticky_form_view_chatter:True;
$rt_alpha_theme_sticky_form_view_statusbar:True; 
// $rt_alpha_theme_sticky_pivot_view:True; 
$rt_alpha_theme_separator_style:default;
$rt_alpha_theme_popup_style:default;
$rt_alpha_theme_font_size:small;