@mixin left-menu-vertical {
    &:not(.oe_base_menu) {
        --header-height-rev: 0;
        --header-height: 51px;

        >header {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            bottom: 0;
            left: var(--left-menu-position);
            width: var(--menu-width);

            .o_main_navbar:not(.oe_favorite_view) {
                height: auto;
                grid-template-areas:
                    "systray"
                    "apps"
                    "brand"
                    "sections";
                grid-template-columns: 65px;
                grid-template-rows: var(--header-height) 0 var(--header-height) auto;
                text-align: center;
                border-bottom: 0;

                .__menu_toggle {
                    padding-left: 0px;
                    grid-area: apps;
                    font-size: 20px;
                    font-weight: 500;
                    width: auto;
                    height: var(--header-height);
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    position: relative;
                    color: white;
                    outline: none;
                    text-decoration: none;
                }

                .o_menu_sections {
                    font-size: 20px;

                    .o_menu_sections_more {
                        width: 100%;

                        .dropdown-toggle {
                            width: 100%;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                        }

                        &.show {
                            .fa {
                                &:after {
                                    content: '';
                                    position: fixed;
                                    top: 0;
                                    bottom: 0;
                                    left: 65px;
                                    right: 0;
                                    background-color: $bg-light;
                                    cursor: url('/tele_backend_theme_ent/static/src/img/cancel.png'), auto;
                                }
                            }
                        }
                    }

                    .dropdown-menu {
                        top: 0 !important;
                        left: var(--panel-width) !important;
                        max-height: unset;
                        width: 315px;
                        bottom: 0 !important;
                        padding: 15px;
                        padding-top: 0px;
                        max-width: calc(100vw - var(--panel-width));

                        .__main_menu {
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            width: 100%;
                            margin-bottom: 15px;
                            padding-top: 15px;
                            position: relative;
                            background: white;
                            z-index: 2;

                            .__menu_icon {
                                width: 50px;
                                height: 50px;
                                overflow: hidden;
                                margin-right: 12px;
                                position: relative;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                background-size: 98%;
                            }

                            .__menu_title {
                                color: var(--menu-main-title);
                                text-transform: uppercase;
                                font-weight: 600;
                                width: auto;
                                margin: auto 0px;
                                font-size: 18px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            +a.dropdown-item {
                                padding: 0;

                                &:before {
                                    display: none;
                                }

                                &:after {
                                    display: none;
                                }
                            }
                        }

                        .o_more_dropdown_section_group,
                        .dropdown-menu_group {
                            color: var(--primary);
                            font-weight: bold;
                            text-transform: uppercase;
                            background-color: white !important; // Use to hide line.
                            position: relative;
                            z-index: 3;
                        }

                        .o_more_dropdown_section_group {
                            font-size: 15px;
                            padding: 0.5rem 20px;
                        }

                        .dropdown-menu_group {
                            padding: 0.5rem 20px;
                            color: var(--menu-main-title);
                            font-size: 13px;
                        }

                        @include dropdown-menu-panel();
                    }
                }

                .o_menu_brand {
                    display: none !important;
                }

                .o_menu_systray {
                    @include o-position-absolute(0, auto, 0, 100%);
                    height: 100% !important;
                    z-index: 111;
                    background: white;
                    width: 350px;
                    max-width: calc(100vw - var(--panel-width));

                    &.collapsing {
                        overflow: visible;
                    }

                    div.o_user_menu {
                        flex: 0 !important;

                        .o-dropdown--menu {
                            z-index: -5;
                        }
                    }

                    .o_switch_company_menu {
                        .oe_topbar_name {
                            font-size: 0;
                            display: block;

                            &:before {
                                content: '\f1ad';
                                display: inline-block;
                                color: $black;
                                @include fa-fa-font(20px);
                            }
                        }
                    }

                    .__menu_helper {
                        position: absolute;
                        left: 100%;
                        width: 100vw;
                        background-color: $bg-light;
                        height: 100vh;
                        border-bottom: 0;
                        cursor: url('/tele_backend_theme_ent/static/src/img/cancel.png'), auto;
                    }

                    .o_RtcActivityNotice {
                        position: initial;

                        .o_RtcInvitations {
                            left: 0;
                            top: var(--header-height);
                            align-items: center;
                        }

                        .o_RtcActivityNotice_button {
                            position: initial;

                            .o_RtcActivityNotice_buttonTitle {
                                display: none;
                                @include o-position-absolute(var(--header-height), 5px, auto, 5px);
                                background-color: var(--brand-primary);
                                color: white;
                                padding: 3px;
                                min-height: var(--header-height);
                                justify-content: center;
                                align-items: center;
                            }
                        }

                        &:hover {
                            .o_RtcActivityNotice_button {
                                .o_RtcActivityNotice_buttonTitle {
                                    display: flex;
                                }
                            }
                        }
                    }

                    .o_mail_systray_item {
                        .o_mail_systray_dropdown {
                            max-height: unset;
                        }
                    }

                    .o_mail_systray_dropdown {
                        .o_mail_systray_dropdown_items {
                            max-height: 100%;
                        }
                    }

                    // Only add class then apply
                    &>div[class] {
                        &:not(.o_RtcActivityNotice) {
                            flex: 1;
                        }

                        &>a {
                            &:hover {
                                background-color: transparent;
                            }
                        }
                    }

                    // Common Part For all icon
                    &>div {
                        margin: 0;
                        position: initial;
                        border-bottom: 1px solid var(--border);

                        &>a,
                        &>button {
                            display: inline-flex;
                            width: 100%;
                            justify-content: center;
                            align-items: center;
                            color: var(--button-box);

                            .fa {
                                color: var(--button-box);
                                font-size: 20px;
                            }
                        }

                        &>.dropdown-menu {
                            // Add important brcause style call using js.
                            position: absolute;
                            top: var(--header-height) !important;
                            left: 0 !important;
                            right: 0 !important;
                            bottom: 0;
                            box-shadow: none;
                            height: auto;
                            max-height: unset;
                        }

                        .dropdown-toggle {
                            background-color: transparent;
                        }

                        &.show {
                            @include border-animation();
                        }
                    }
                }
            }

            .oe_favorite_view {
                overflow: auto;
                height: auto;
                flex: 1 1 100%;
                min-width: unset;
                border: 0;
                width: 100%;
                @include favorite-menu-layout();
            }

            .__menu_systray {
                .user_menu {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-height: var(--header-height);

                    img {
                        width: 35px;
                    }
                }
            }
        }
    }
}