$tele_pos_theme_color_type:solid;
$tele_pos_theme_primary_1_color:#0a7fe9;
$tele_pos_theme_primary_2_color:#0a7fe9; 
$tele_pos_theme_secondary_color:#f6f7fb;                                  
$tele_pos_theme_background_type:none; 
$tele_pos_theme_background_color:#ffffff;              
$tele_pos_button_type:style_1; 
$tele_pos_button_color_type:solid; 
$tele_pos_button_primary_1_color:#0a7fe9; 
$tele_pos_button_primary_2_color:#0a7fe9; 
$tele_pos_button_secondary_color:#f6f7fb;                                     
$tele_pos_is_use_google_font:False; 
$tele_pos_google_font_family:False;