@mixin tele-studio-pivot() {
    .o_tele_studio_editor {
        .o_action_manager {
            .o_tele_studio_editor_manager {
                .o_tele_studio_view_renderer {
                    .o_pivot {
                        margin: 0 10px;
                        padding: 10px 0;
                        background-color: $white;

                        .o_pivot_header_cell_closed,
                        .o_pivot_header_cell_opened,
                        .o_pivot_measure_row {
                            background-color: $tr-hover;
                            color: var(--Label);
                        }

                        .o_pivot_cell_value {
                            color: var(--Label-value);
                        }

                        table {
                            thead {
                                tr {
                                    th {
                                        border: 1px solid var(--border);
                                        background-color: transparent;

                                        &.o_pivot_header_cell_opened,
                                        &.o_pivot_header_cell_closed,
                                        &.o_pivot_measure_row {
                                            color: var(--Label-value);
                                            font-weight: bold;
                                            background-color: $tr-hover;
                                        }
                                    }
                                }

                                tr:first-child {
                                    th:first-child {
                                        background-color: transparent;
                                    }
                                }
                            }

                            tbody {
                                tr {
                                    td {
                                        border: 1px solid var(--border);

                                        &.o_pivot_header_cell_opened,
                                        &.o_pivot_header_cell_closed {
                                            color: var(--Label-value);
                                            font-weight: bold;
                                            background-color: $tr-hover;
                                        }
                                    }

                                    &:hover {
                                        background-color: $tr-hover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}