@mixin import_view() {
    form.oe_import {
        .oe_import_box {
            width: 100%;
            border: 0;
            border-radius: 2px;
            background: $white;
            padding: 0;
            padding-bottom: 15px;
            padding: var(--main-padding);
            border-right: 1px solid var(--border);

            .oe_import_with_file {
                padding: 15px 0px;
                margin: 15px 0 0 0px;

                &>.oe_import_toggle {
                    margin: 0;
                    padding-bottom: 15px;
                    padding-left: 15px;
                    border-bottom: 1px solid var(--border);
                    color: var(--Label-value);
                    font-weight: var(--font-weight-b);
                    text-transform: uppercase;

                    &:before {
                        float: right;
                        content: '\f053';
                        font-family: FontAwesome;
                        color: var(--Label-value);
                        margin-right: 15px;
                        -webkit-transition-duration: 0.1s;
                        -moz-transition-duration: 0.1s;
                        -o-transition-duration: 0.1s;
                        transition-duration: 0.1s;
                    }

                    &.open {
                        &:before {
                            transform: rotate(-90deg);
                            -webkit-transition-duration: 0.1s;
                            -moz-transition-duration: 0.1s;
                            -o-transition-duration: 0.1s;
                            transition-duration: 0.1s;
                        }
                    }
                }

                &>.row .oe_import_toggled {
                    &.col-sm-5 {
                        width: 50%;

                        &>p {
                            &>label {
                                width: 25%;
                                text-align: left;
                                color: var(--Label);
                            }

                            &>.select2-container {
                                width: 70% !important;

                                &.select2-container-active {
                                    .select2-choice {
                                        @include border-animation();
                                    }
                                }
                            }

                            &>input {
                                width: 70%;

                                &:focus {
                                    @include border-animation();
                                }
                            }
                        }
                    }

                    &>p {
                        label {
                            padding-right: 5px;
                        }

                        .select2-container {
                            &>a {
                                border: 0;
                                border-bottom: 1px solid var(--border);
                                box-shadow: none;
                                background-image: none;
                                height: 34px;
                                border-radius: 2px;
                                background-color: transparent;

                                .select2-chosen {
                                    box-shadow: none;
                                }

                                .select2-arrow {
                                    box-shadow: none;
                                    background-image: none;
                                    background-color: transparent;
                                    border-left: none;

                                    &>b {
                                        border-left: none;
                                    }
                                }
                            }
                        }

                        &>input {
                            border: 0;
                            border-bottom: 1px solid var(--border);
                            outline: none;
                        }
                    }
                }
            }
        }

        &>.oe_import_with_file {
            padding: var(--main-padding);

            &>.oe_import_error_report {
                margin: 15px 0px;

                &>.oe_import_report {
                    color: $white;
                    border: 1px solid var(--brand-secondary);
                    border-radius: 2px;
                    background-color: var(--brand-secondary);
                    padding: 15px;
                }

                &>pre {
                    border: 1px solid var(--border);
                    border-radius: 2px;
                    color: var(--Label-value);
                    background-color: transparent;
                    white-space: normal;
                    margin-top: 15px;
                }

                &>ul>.oe_import_report {
                    background-color: $tr-hover;
                    color: var(--Label-value);
                    border-radius: 2px;
                }
            }

            label {
                color: var(--Label);
                padding-right: 5px;
            }

            &>h2 {
                color: var(--Label-value);
                margin-bottom: 15px;
            }

            &>.table-responsive table.table-bordered.oe_import_grid {
                border: 0;
                width: 100%;
                overflow: auto;
                display: block;
                margin-top: 15px;

                &>thead {
                    background: $white;
                    color: var(--Label-value);

                    &>tr {
                        &>td {
                            border: 0;
                            border-bottom: 1px solid var(--border);
                            height: 50px;
                            text-align: center;
                            font-weight: var(--font-weight-b);

                            .select2-container {
                                width: 100% !important;

                                &.select2-container-active {
                                    .select2-choice {
                                        @include border-animation();
                                    }
                                }
                            }

                            .select2-container {
                                &>a {
                                    border: 0;
                                    border-bottom: 1px solid var(--border);
                                    box-shadow: none;
                                    background-image: none;
                                    height: 34px;
                                    border-radius: 2px;
                                    background-color: transparent;
                                    color: var(--Label-value);

                                    .select2-chosen {
                                        box-shadow: none;
                                    }

                                    .select2-arrow {
                                        box-shadow: none;
                                        background-image: none;
                                        background-color: transparent;
                                        border-left: none;

                                        &>b {
                                            border-left: none;
                                        }
                                    }
                                }
                            }

                            &>input {
                                border: 0;
                                border-bottom: 1px solid var(--border);
                                outline: none;
                            }
                        }
                    }
                }

                &>tbody {
                    &>tr {
                        background-color: transparent;
                        height: 50px;
                        color: var(--Label-value);

                        &>td {
                            border: 0;
                            border-bottom: 1px solid var(--border);
                        }
                    }
                }
            }
        }

        .select2-arrow {
            background: none;

            &>b {
                background: none;

                &:before {
                    content: "\f0d7";
                    font-family: FontAwesome;
                }
            }
        }

        abbr.select2-search-choice-close {
            font-size: $font-size-n;
            top: 0;
            background: none;

            &:before {
                content: "\f00d";
                font-family: FontAwesome;
                font-size: $font-size-1;
            }
        }
    }
}