.o_shortcut_table {
  border-collapse: separate;
  border-spacing: 0 1em;

  .o_key {
    background-color: linear-gradient(180deg, #C3CDD9 10.75%, #9FA7B0 126.03%);
    border-radius: 3px;
    border-bottom: 3px solid linear-gradient(0deg, #899198 -62.68%, #787E85 51.48%);
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif, monospace;
    font-size: 0.85em;
    padding: 2px 5px;
  }
}
