@mixin control_panel_view_ent() {
    .o_control_panel {
        .o_cp_searchview {
            .o_datepickers_searchview {
                margin: auto;
                top: auto;

                .o_update_options {
                    padding: 0px 8px;
                }
            }

            .o_account-progress {
                height: 100% !important;
            }

            &.no_search_option {
                &+.o_search_options {
                    display: block !important;

                    .o_dropdown {
                        position: relative;
                    }
                }
            }
        }

        .o_search_options {

            .o_account_reports_filter_date,
            .o_account_reports_filter_date_cmp,
            .o_account_reports_filter_bool,
            .o_account_reports_filter_journals,
            .o_account_reports_filter_analytic,
            .o_account_reports_filter_account_type,
            .o_account_reports_filter_partner,
            .o_account_reports_filter_intrastat_type,
            .o_account_reports_filter_intrastat_extended,
            .o_mps_period_filter,
            .o_mps_columns_filter {
                .dropdown-menu {
                    border: 1px solid var(--border);

                    &>li {
                        .badge.badge-pill {
                            border: 1px solid;
                        }
                    }
                }
            }

            .o_mps_columns_filter {
                &>a {
                    &:before {
                        content: '\f00b';
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: 14px;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
            }

            &>.o_dropdown {
                &>.dropdown-menu {
                    border: 1px solid var(--border);
                    top: 100% !important;
                }
            }

            &.ad_js_filters {
                position: absolute !important;
                flex-direction: row;
                width: auto;
                left: auto;
                right: 10px;
                top: 8px;
                bottom: auto;
                display: flex !important;

                .btn-group {
                    margin-right: 5px;

                    .dropdown-toggle {
                        color: var(--brand-secondary) !important;

                        &:hover,
                        &:focus,
                        &:active {
                            color: white !important;
                            background-color: var(--brand-secondary) !important;
                        }
                    }
                }
            }
        }
    }
}