@mixin o-gantt-hover() {

    &:hover,
    &:focus,
    &.ui-draggable-dragging,
    &.ui-resizable-resize {

        // Avoid visual feedback if 'o_gantt_view' has class 'o_grabbing' or 'o_copying'.
        @at-root #{selector-replace(&, ".o_gantt_view", ".o_gantt_view:not(.o_grabbing):not(.o_copying):not(.o_no_dragging)")} {
            @content;
        }
    }
}

@mixin o-gantt-hoverable-colors($color) {
    $color-subdle: mix($color, white, 60%);
    color: color-yiq($color-subdle);
    background-color: $color-subdle;
    cursor: pointer;

    @include o-gantt-hover() {
        background-color: $color;
        color: color-yiq($color);
    }
}

@mixin gantt-gradient-decorations($color) {
    $color-subdle: mix($color, white, 60%);
    background-image: repeating-linear-gradient(-45deg, $color-subdle 0 10px, lighten($color-subdle, 6%) 10px 20px);

    @include o-gantt-hover() {
        background-image: repeating-linear-gradient(-45deg, $color 0 10px, lighten($color, 6%) 10px 20px);
    }
}

@mixin gantt-ribbon-decoration($color) {
    content: '';
    @include size(20px, 16px);
    @include o-position-absolute(-11px, $left: -13px);
    box-shadow: 1px 1px 0 white;
    background: $color;
    transform: rotate(45deg);
}

@mixin ent-gannt-view() {
    .o_gantt_view {
        padding: 5px 10px;
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        overflow: hidden;
        box-shadow: none;

        &>div {
            width: 100%;
        }

        &>.container-fluid {
            border: 1px solid var(--border);
            border-bottom: 0;

            .o_gantt_header_container {
                z-index: 1;

                .o_gantt_header_slots {
                    box-shadow: none;

                    .no-gutters:not(.o_gantt_header_scale) {
                        background-color: var(--brand-secondary);
                        color: $white;
                    }

                    .o_gantt_header_cell.o_gantt_today {
                        background-color: $tr-hover;
                        border-color: var(--brand-secondary);
                        border-left-color: var(--brand-secondary);

                        &+.o_gantt_header_cell {
                            border-left-color: var(--brand-secondary);
                        }
                    }
                }
            }

            &>.no-gutters {
                .o_gantt_row_container {
                    .o_gantt_row {
                        border-bottom-color: var(--border);

                        .o_gantt_slots_container {
                            .no-gutters {
                                &>.o_gantt_cell:first-child {
                                    border-left: 0px;
                                }

                                .o_gantt_cell.o_gantt_today {
                                    background-color: $tr-hover;
                                    border-color: var(--brand-secondary);
                                    border-left-color: var(--brand-secondary);

                                    &+.o_gantt_cell {
                                        border-left-color: var(--brand-secondary);
                                    }
                                }
                            }
                        }

                        .o_gantt_row_title {
                            img {
                                border-radius: 0 !important;
                            }
                        }
                    }
                }

                .col-2.o_gantt_row_sidebar {
                    border-right: 1px solid var(--border);
                }

                .o_gantt_cell {
                    .o_gantt_cell_buttons {
                        box-shadow: none;

                        .o_gantt_cell_add,
                        .o_gantt_cell_plan {
                            border-radius: 0;
                            background-color: var(--brand-secondary);
                            color: $white;
                        }
                    }
                }
            }
        }

        .gantt_container {
            display: flex;
            width: 100%;
            border: 1px solid var(--border);

            .gantt_grid {
                flex: 1 1 250px;
                overflow: auto;
                height: auto !important;
                border-right: 1px solid var(--border);

                .gantt_grid_scale {
                    border-bottom: 1px solid var(--border);

                    .gantt_grid_head_cell {
                        color: var(--Label);
                        font-weight: 600;
                    }
                }
            }

            .gantt_grid_data {
                .gantt_row {
                    border-bottom: 1px solid var(--border);

                    .gantt_cell {
                        color: var(--Label);
                    }

                    &:hover {
                        background-color: $tr-hover;
                    }
                }
            }

            .gantt_task {
                overflow: auto;
                flex: 1 1 100%;
                height: 100% !important;

                .gantt_task_scale {
                    .gantt_scale_line {
                        .gantt_scale_cell {
                            color: var(--Label);
                            border-right: 1px solid var(--border);
                        }

                        &:not(:first-child) {
                            border-top: 1px solid var(--border);
                        }
                    }
                }

                .gantt_data_area {
                    .gantt_task_bg {
                        .gantt_task_row {
                            border-bottom: 1px solid var(--border);

                            .gantt_task_cell {
                                color: var(--Label-value);
                                border-right: 1px solid var(--border);
                            }
                        }
                    }
                }
            }

            .gantt_hor_scroll {
                display: none !important;
            }

            .o_gantt_colorgreen_5 {
                background-color: rgba(158, 236, 158, 0.5);
            }

            .o_gantt_color7_5 {
                background-color: rgba(255, 228, 169, 0.5);
            }

            .o_gantt_color0_0 {
                background-color: #ffe1a0;
            }

            .gantt_task_line {
                .half_opacity {
                    opacity: 0.7;
                }
            }
        }

        .o_gantt_row_nogroup {
            .o_gantt_pill {
                background-color: var(--brand-secondary);

                $alg-colors: $brand-secondary, $brand-primary, lighten(#000, 46.7%), $text-success, $text-primary, $text-info !default;

                $alg-colors-secondary: #ca534f, #c48822, #53A586, #4faed9, #6d78bf !default;

                $alg-colors-complete: join(set-nth(set-nth($alg-colors, 1, #ca534f), 6, #c48822),
                    $alg-colors-secondary);

                // used for `color` attribute on <gantt>
                @for $index from 2 through length($alg-colors-complete) - 1 {
                    @for $index from 3 through length($alg-colors) {
                        &.o_gantt_color_#{$index - 1} {
                            $aig-gantt-color: nth($alg-colors-complete, $index);

                            @include o-gantt-hoverable-colors($aig-gantt-color);

                            &.o_gantt_progress {
                                @include o-gantt-hoverable-colors($aig-gantt-color);
                            }

                            &.decoration-info {
                                @include gantt-gradient-decorations($aig-gantt-color);

                                &:before {
                                    background: $text-info;
                                }
                            }
                        }
                    }

                    @each $color,
                    $value in $theme-colors {
                        &.decoration-#{$color}:before {
                            @include gantt-ribbon-decoration($value);
                        }
                    }
                }
            }
        }

        .o_gantt_row_group {
            background-color: $tr-hover;
            background-image: none;

            &:hover,
            &.open {

                .o_gantt_row_sidebar,
                .o_gantt_slots_container {
                    background-color: $tr-hover;
                    background-image: none;
                }
            }
        }

        .popover {
            border: 1px solid var(--border);

            .arrow {
                &:before {
                    border-bottom-color: var(--border);
                }
            }

            .popover-header {
                color: var(--Label);
                border-bottom-color: var(--border);

                &:before {
                    border-bottom: 0;
                }
            }

            .popover-body {
                color: var(--Label-value);

                strong {
                    color: var(--Label);
                }
            }
        }

        .o_gantt_total_row_container .o_gantt_row {
            .o_gantt_pill {
                background-color: rgba($brand-secondary, 0.5);
            }
        }
    }
}