@mixin referral_view_ent() {
    &.o_referral_kanban {
        background-color: transparent !important;

        .o_kanban_referral {
            background-color: transparent !important;
            margin-bottom: 0;
            position: relative;
            min-height: 300px;

            .o_kanban_record {
                min-width: auto;
                flex: 1 1 350px;
                width: auto;
                max-width: initial;

                .o_to_share {
                    &>a {
                        border: none;

                        .fa {
                            color: var(--Label-value) !important;
                        }

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }

            .o_view_nocontent {
                .o_nocontent_help .o_view_nocontent_smiling_face {
                    color: $white;

                    &:before {
                        color: $white;
                    }
                }
            }
        }

        .o_referral_kanban_background {
            right: 0;
        }
    }

    .o_hr_referral_background,
    .o_referral_kanban_background {
        background: url(/tele_backend_theme_ent/static/src/img/referral_bg.png) center/cover no-repeat;
    }
}