@mixin button-primary() {
    width: 56px;
    height: 56px;

    display: flex;
    visibility: visible;
    vertical-align: middle;
    background-color: var(--brand-secondary);
    border: 1px solid var(--brand-secondary);
    text-align: center;
    margin: auto;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: large;
    padding: 0;
    font-family: 'fontawesome';
    border-radius: 2px;
}

@mixin button-secondary() {
    width: 40px;
    height: 40px;
    display: flex;
    visibility: visible;
    vertical-align: middle;
    color: var(--brand-secondary);
    background-color: $white;
    border: 1px solid var(--brand-secondary);
    text-align: center;
    margin: auto;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: var(--brand-secondary);
    font-size: 14px;
    padding: 0;
    font-family: 'fontawesome';
    border-radius: 2px;
}

@mixin control-panel-mobile() {
    .o_action_manager {
        width: 100%;
        overflow: hidden;

        .o_action,
        .o_widget_Discuss {
            flex-basis: var(--flex-basis-r);

            &.ad_open_search {
                .o_content {
                    margin-right: 0 !important;
                }

                .o_control_panel {
                    z-index: 10;
                }

                .o_cp_top {
                    .o_search_options {
                        display: flex !important;
                    }
                }
            }

            &.o_open_sidebar {
                .o_content {
                    margin-right: 0;
                }
            }

            .o_control_panel {
                .o_cp_top {
                    .o_cp_top_left {
                        flex: 1;
                        overflow: hidden;
                    }

                    .o_enable_searchview {
                        padding: 3px 8px;
                    }

                    .o_enable_searchview {
                        font-size: 18px;
                        color: var(--brand-primary);
                    }

                    .o_cp_switch_buttons {
                        button.btn-link {
                            color: var(--brand-primary);

                            .o_switch_view {
                                line-height: 1.5;
                                padding: 6px 10px;
                                font-size: 16px;
                            }
                        }

                        button.dropdown-toggle {
                            padding: 0;
                            padding-left: 10px;
                            color: var(--brand-primary);

                            .o_switch_view {
                                line-height: 1.5;
                                padding: 6px 10px;
                                font-size: 16px;
                            }
                        }

                        &>.dropdown-menu {
                            max-width: 250px;
                            flex-wrap: wrap;

                            .oe_view_btn {
                                text-align: center;
                                display: inline-flex;
                                flex: 1 1 50%;
                                max-width: 50%;
                            }

                            button {
                                width: 100%;
                            }
                        }

                        &>.o-dropdown {
                            .o-dropdown--menu {
                                left: auto !important;
                                right: 8px !important;
                                border-radius: 2px;
                                padding: 5px;
                                margin-top: 8px;
                                width: 250px;
                                flex-wrap: wrap;

                                button {
                                    float: left;
                                    flex: 1 1 46%;
                                    border: 0;
                                    border-radius: 2px;
                                    box-shadow: none;
                                    text-align: center;
                                    padding: 10px;
                                    color: var(--button-box);
                                    outline: none;
                                    margin-left: 5px;
                                    font-family: inherit;
                                    font-size: 13px;
                                    background-color: transparent;
                                    text-transform: lowercase;
                                    max-width: 50%;

                                    &:before {
                                        margin-right: 5px;
                                        font-size: 19px;
                                        display: block;
                                        width: 100%;
                                        text-align: center;
                                        font-family: 'FontAwesome';
                                    }

                                    &.active {
                                        @include border-animation();
                                    }
                                }
                            }
                        }
                    }

                    .breadcrumb {
                        font-size: 16px;
                        width: 100%;

                        .breadcrumb-item {
                            &.active {
                                color: var(--brand-primary);
                            }
                        }

                        >li:not(:last-child):not(:nth-last-child(2)) {
                            display: none;
                        }

                        >li:nth-last-child(2) {
                            font-size: 0px;
                            margin: 0;
                            padding: 6px 5px;
                            color: var(--brand-secondary);
                            border: 0;
                            background-color: transparent;

                            &:before {
                                content: '\f053';
                                font-size: 14px;
                                display: inline-block;
                                font: normal normal normal 14px/1 FontAwesome;
                                color: var(--brand-secondary);
                                padding: 0;
                            }
                        }

                        li.active {
                            &:before {
                                display: none;
                            }
                        }
                    }

                    .o_cp_switch_buttons {
                        button {
                            .o_switch_view {
                                padding-right: 10px;
                                padding-left: 10px;
                            }
                        }
                    }

                    .o_cp_action_menus {
                        &.o_drw_in {
                            right: 0;
                            width: 100%;
                            left: 0;
                        }

                        .o_dropdown {
                            .o_dropdown_toggler_btn {

                                i.fa-chevron-down,
                                i.fa-chevron-right {
                                    display: none;
                                }
                            }
                        }

                        .btn-group {
                            .btn.dropdown-toggle {
                                padding: 10px !important;
                            }
                        }
                    }

                    .o_searchview {
                        margin: 0;

                        .o_enable_searchview {
                            font-size: 18px;
                            padding: 3px 8px;
                        }

                        .o_searchview_input_container,
                        .o_search_rec_ul,
                        .o_search_rec_ul_mobile {
                            .o_searchview_facet {
                                border-radius: 2px;
                                margin: 2px;
                                display: inline-flex;
                                background-color: transparent;
                                font-size: $font-size-2;
                                min-height: 30px;
                                flex-wrap: nowrap;

                                .o_searchview_facet_label {
                                    padding: 0 7px;
                                    background-color: $brand-primary;
                                    white-space: nowrap;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: white;
                                }

                                .o_facet_values {
                                    display: flex;
                                    align-items: center;
                                    color: var(--brand-primary);
                                    padding: 0 18px 0 5px;
                                    flex-wrap: wrap;
                                    white-space: normal;

                                    .o_facet_values_sep {
                                        padding: 0 5px;
                                    }
                                }

                                .o_facet_remove {
                                    color: $brand-primary;
                                    flex: 0 0 auto;
                                    width: 18px;
                                    position: absolute;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    top: 0;
                                    left: auto;
                                    bottom: 0;
                                    right: 0;
                                }
                            }
                        }
                    }

                    .o_dropdown_menu {
                        &.o_searchview_autocomplete {
                            z-index: 1025;
                        }
                    }

                    .o_cp_searchview {
                        .o_searchview {
                            border-bottom: 0;
                            padding: 0;
                        }

                        &.o_searchview_quick {
                            width: 100%;

                            .o_searchview {
                                display: flex;
                                flex: 1 1 auto;
                                align-items: center;
                                border-bottom: 0;

                                .btn {
                                    color: var(--brand-secondary);
                                }

                                .o_searchview_input {
                                    min-height: 34px;
                                    @include border-animation();
                                }

                                .o_searchview_input_container {
                                    flex: 1 1;
                                }
                            }

                            .o_searchview_input_container {
                                display: inline-flex !important;
                            }

                            .o_enable_searchview,
                            .o_toggle_searchview_full {
                                color: var(--brand-primary) !important;
                            }
                        }

                        #dropdownMenu {
                            padding: 5px;
                            z-index: 11;
                            position: absolute;
                            right: 35px;

                            &:after {
                                display: none;
                            }
                        }

                        .o_search_rec_ul_mobile {
                            transform: unset !important;
                            top: 100% !important;
                        }
                    }
                }

                .o_cp_bottom {
                    padding: 0 8px;

                    .o_cp_buttons {
                        &>div:not(.btn-group) {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                        }

                        .btn-group {
                            flex: 1 1 auto;
                        }

                        button.btn {
                            width: 100%;
                            height: 40px;
                            white-space: nowrap;
                            font-weight: 700;
                            padding: 5px;
                            margin: 0px 5px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .btn-link.dropdown-toggle {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid var(--border);
                        }

                        .o_cohort_interval_button {
                            margin: 5px 0 !important;
                        }

                        .o_graph_measures_list {
                            margin-right: 5px;
                        }

                        button[class*="o_documents_kanban"] {
                            margin: 3px 0;
                        }

                        .o_gantt_button_add {
                            +.d-inline-block.mr-3 {
                                display: inline-flex !important;
                            }
                        }
                    }

                    .o_cp_bottom_left {
                        display: none;

                        .o_cp_buttons {
                            width: 100%;
                            display: flex;

                            .o_form_buttons_edit,
                            .o_form_buttons_view {
                                display: flex;
                                width: 100%;
                            }

                            .o_calendar_buttons {
                                .o_calendar_navigation_buttons {
                                    display: flex;
                                    flex-direction: row;
                                    flex: 1;

                                    .o_calendar_button_prev,
                                    .o_calendar_button_next {
                                        max-width: 40px;
                                    }

                                    .btn {
                                        margin: 0 2px;
                                    }
                                }
                            }

                            .o_calendar_scale_buttons {
                                flex: 1;

                                &>.btn-group {
                                    width: 100%;
                                }

                                .btn {
                                    margin: 0 2px;
                                }
                            }
                        }
                    }

                    .o_cp_bottom_right {
                        width: 100%;

                        .o_cp_pager {
                            margin: auto;
                            padding: 0;
                        }

                        .o_cp_today_button {
                            font-size: 13px !important;
                            margin-left: auto !important;

                            .o_calendar_button_today {
                                font-size: 13px !important;
                            }

                            .o_calendar_text {
                                margin-top: 3px;
                            }
                        }
                    }

                    .o_main_cp_buttons {
                        position: fixed !important;
                        bottom: 80px;
                        right: var(--button-width-r);
                        height: 60px;
                        border-radius: 2px;
                        width: 60px;
                        font-size: 0;
                        display: block;
                        box-shadow: 6px 8px 14px 2px var(--border);

                        &:before {
                            font-size: 14px;
                        }
                    }

                    &.cp_open {
                        .o_cp_bottom_left {
                            width: 100%;
                            display: flex;
                        }

                        .o_cp_bottom_right,
                        .o_main_cp_buttons {
                            display: none;
                        }
                    }
                }
            }

            .o_content {
                &.o_controller_with_searchpanel {
                    flex-direction: column;

                    &>.o_search_panel {
                        width: 100%;
                        height: auto;
                        flex-basis: auto;
                        border-bottom: 1px solid $border;
                    }

                    .o_search_panel_summary {
                        border-left: 0;
                        border-right: 0;
                    }
                }
            }
        }
    }
}

body.o_web_client.ad_mobile {
    -webkit-overflow-scrolling: touch;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include control-panel-mobile();

    .modal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    .o_action {
                        &.ad_open_search {
                            .o_control_panel {
                                z-index: 10;
                            }

                            .o_cp_top {
                                .o_search_options {
                                    display: flex !important;
                                }
                            }
                        }

                        .o_control_panel {
                            .o_cp_top {
                                .o_cp_searchview {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    >details {
        summary {
            list-style-type: none;
            padding: 5px;
            outline: none;
            box-shadow: inset 0px -1px 0px 0px var(--border);
            background-color: var(--brand-secondary);
            color: white;

            &::-webkit-details-marker {
                display: none;
            }

            .search_panel_close {
                display: none;
            }
        }

        .o_search_panel {
            .o_search_panel_category {
                .o_search_panel_section_icon {
                    color: var(--brand-secondary);
                }
            }
        }

        &[open] {
            position: absolute;
            z-index: 11;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: white;

            summary {
                .search_panel_close {
                    display: inline-block;
                }

                .fa-filter {
                    display: none;
                }
            }
        }
    }

    // .o_mobile_search {
    //     .o_mobile_search_header {
    //         background-color: var(--brand-secondary)
    //     }
    // }
    .o_mobile_search {
        position: absolute;
        z-index: 9999;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: inherit;

        .o_mobile_search_header {
            background-color: var(--brand-secondary);
            display: inline-flex;
            justify-content: space-between;

            .o_mobile_search_button {
                color: white;
                outline: none;
            }
        }

        .o_mobile_search_content {
            flex: 1;
            overflow: auto;
            padding: 15px;
            padding-bottom: 50px;

            &>.o_search_panel {
                border: 0;
                padding: 0;

                .o_search_panel_category_value {
                    header {
                        padding: 4px 6px 4px 0px !important;
                    }
                }
            }

            .o_searchview_input_container {
                display: flex !important;
                padding: 0;

                .o_searchview_input {
                    flex: 0 0 100%;
                    order: -1;
                    min-height: 34px;
                    margin-bottom: 6px;
                    border-bottom: 1px solid var(--border);

                    &:focus {
                        @include border-animation();
                    }
                }

                .o_searchview_autocomplete {
                    z-index: 1025;
                }

                .o_searchview_facet {
                    margin: 2px;
                    display: inline-flex;
                    background-color: transparent;
                    font-size: $font-size-2;
                    position: relative;
                    min-height: 34px;

                    .o_searchview_facet_label {
                        padding: 0 7px;
                        background-color: var(--brand-primary);
                        white-space: nowrap;
                        border-radius: 2px;
                    }

                    .o_facet_values {
                        display: inline-flex;
                        align-items: center;
                    }

                    .o_facet_remove {
                        color: var(--brand-primary);
                    }
                }
            }

            .o_cp_searchview {
                .o_searchview {
                    border: 0;
                    padding: 0;

                    .o_searchview_icon {
                        display: none;
                    }
                }
            }

            .o_mobile_search_filter {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;

                .dropdown:not(.show) {
                    box-shadow: none;
                }

                .dropdown {
                    margin-top: 0;

                    .dropdown-item.o_menu_item {
                        &:before {
                            top: 6px;
                        }
                    }

                    &.show {
                        >button.dropdown-toggle {
                            &:after {
                                transform: translate(-0.6em, 0.6em) rotate(90deg);
                            }
                        }
                    }
                }

                &>.o-dropdown {
                    position: relative;
                    margin-top: 15px;
                    flex-direction: column;
                    @include dropdown-btn-checkbox();

                    &>.dropdown-toggle {
                        text-align: left;
                        background-color: $tr-hover;
                        border: 1px solid var(--border);

                        .fa {
                            font-size: 100%;
                            margin-right: 10px !important;
                        }
                    }

                    &>div.o-dropdown--menu {
                        margin: 0;
                        border: 1px solid var(--border);
                        border-top: 0;
                        padding: 5px;
                    }

                    .o-dropdown--menu {
                        position: relative;
                        width: 100%;
                        left: 0 !important;
                        right: 0 !important;
                        top: 0 !important;
                        bottom: 0 !important;
                        box-shadow: none;
                        inset: unset !important;
                        overflow: unset;
                        max-height: unset;
                        border: 0;
                        padding: 10px;

                        .dropdown-toggle {
                            position: relative;

                            &.focus {
                                background-color: $tr-hover;

                                &:after {
                                    top: 6px;
                                    right: 10px;
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }

                    .custom-control-label {
                        &:before {
                            border-color: var(--Label);
                        }
                    }
                }
            }
        }

        .o_mobile_search_footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .o_search_panel_section {
            .o_search_panel_section_header {
                .o_search_panel_section_icon {
                    color: var(--brand-secondary) !important;
                }
            }
        }
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes overflow-search {
    from {
        overflow: hidden;
    }

    to {
        overflow: hidden;
    }
}

/* Standard syntax */
@keyframes overflow-search {
    from {
        overflow: hidden;
    }

    to {
        overflow: hidden;
    }
}