@mixin home_view {
    .o_home_menu {
        width: 100%;
    }
}

.o_web_client.o_home_menu_background.ad_mobile {
    @include home_view();
}

.o_web_client.oe_base_menu.ad_mobile {
    .o_home_menu {
        margin-top: 34px;

        .o_apps {
            margin-top: 10px !important;
        }

        .__editor {
            display: none !important;
        }
    }
}