@mixin kanban-view-mobile() {
    .o_kanban_mobile_tabs {
        display: flex;
        width: 100%;
        height: $o-kanban-mobile-tabs-height;
        position: relative;
        overflow-x: auto;
        background-color: var(--brand-secondary);

        .o_kanban_mobile_tab {
            height: $o-kanban-mobile-tabs-height;
            padding: 10px 20px;
            font-size: 14px;
            color: white;

            &.o_current {
                font-weight: bold;
                @include border-animation();
                border-bottom: 0;
            }

            .o_column_title {
                white-space: nowrap;
                text-transform: uppercase;
            }
        }
    }

    // [class] to get same specificity as elsewhere (kanban_view.less)
    &[class] .o_kanban_group:not(.o_column_folded) {
        &.o_current {
            position: inherit;

            &.o_kanban_no_records {
                // set a default height for clarity when embedded in another view
                min-height: $o-kanban-mobile-empty-height;
            }
        }

        .o_kanban_header {
            display: none;
        }

        .o_kanban_record,
        .o_kanban_quick_create {
            border: none;
            border-bottom: 1px solid lightgray;
            padding: 10px 16px;
            margin: 0;
        }
    }
}

@mixin kanban-xs() {
    &>.o_action_manager {
        .o_view_controller.o_action {
            .o_content {
                .o_kanban_view {
                    @include kanban-view-mobile();

                    &:not(.o_kanban_dashboard) {
                        padding: 0px 5px !important;
                    }

                    &.o_helpdesk_kanban {
                        padding: 5px 10px !important;
                    }

                    &.o_kanban_dashboard {
                        .o_kanban_record {
                            width: 100%;
                            flex: 1 1 100%;
                        }
                    }

                    .o_kanban_record {
                        margin: 5px;
                        flex: 1 1 auto;

                        .oe_kanban_details {
                            font-size: $font-size-1;
                        }

                        .o_dropdown_kanban {
                            visibility: visible;

                            .dropdown-toggle {
                                margin: 0;
                            }
                        }

                        .container.o_kanban_card_content {
                            max-width: 100%;
                        }
                    }

                    &.o_kanban_grouped {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        overflow-x: hidden !important;
                        padding: 0px !important;
                        margin: 0;
                        border: 0;

                        .o_kanban_group {
                            padding: 0px 5px;

                            .o_kanban_record {
                                margin: 0px;
                                width: 100%;
                            }
                        }
                    }

                    .o_account_dashboard_header {
                        margin: 0px;
                    }

                    .o_kanban_mobile_tabs_container {
                        z-index: 1;
                    }
                }

                .o_documents_mobile_inspector {
                    z-index: 2;
                    position: sticky;
                    width: 100%;

                    &[open] {
                        position: absolute !important;
                        padding-top: 0 !important;
                    }

                    .o_documents_toggle_inspector {
                        position: inherit;
                    }
                }

                // document [start]
                &.o_documents_kanban {
                    display: block;

                    details.o_documents_mobile_inspector {
                        background-color: transparent;

                        >summary {
                            @include o-details-hide-caret();
                            position: fixed;
                            right: 0;
                            top: initial;
                            bottom: 0;
                            left: 0;
                            z-index: $zindex-fixed;
                            background-color: var(--brand-secondary);
                            border-color: var(--brand-secondary);
                        }

                        .o_documents_inspector,
                        .o_documents_close_inspector {
                            display: none;
                        }

                        @keyframes o_documents_sweepup {
                            0% {
                                opacity: 0;
                                top: 25%
                            }

                            100% {
                                opacity: 1;
                                top: 0
                            }
                        }

                        &[open] {
                            @include o-details-modal();
                            padding-top: 0 !important;
                            overflow: auto;
                            animation: o_documents_sweepup 0.3s ease-in-out;

                            >summary {
                                @include o-details-modal($bottom: initial);
                                @include o-details-modal-header();
                                pointer-events: none;

                                &.btn-primary {

                                    &,
                                    &:hover,
                                    &:active,
                                    &:focus,
                                    &:active:focus {
                                        box-shadow: none;
                                    }
                                }

                                .o_documents_close_inspector {
                                    display: initial;
                                    pointer-events: initial;
                                }
                            }

                            .o_documents_inspector {
                                display: block;
                                background-color: $white;
                            }
                        }
                    }

                    @keyframes o_documents_sweepright {
                        0% {
                            opacity: 0;
                            left: 25%
                        }

                        100% {
                            opacity: 1;
                            left: 0
                        }
                    }

                    &.o_chatter_open .o_document_chatter {
                        @include o-details-modal();
                        box-shadow: none;
                        animation: o_documents_sweepright 0.3s ease-in-out;

                        .o_document_close_chatter {
                            @include o-details-modal($bottom: initial);
                            @include o-details-modal-header();
                            width: auto;
                            padding: 1rem 1.4rem;
                            border-radius: 2px;
                            font-size: 2.6rem;
                            font-weight: 300;
                            line-height: 1.8rem;
                            text-align: right !important;

                        }

                        .o_chatter_topbar .o_topbar_right_area {
                            right: initial;
                        }

                        .o_chatter {
                            padding-top: $o-navbar-height !important;
                        }
                    }
                }

                .o_helpdesk_dashboard {
                    width: 100%;

                    &>div {
                        width: 100%;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    .o_kanban_view.o_kanban_grouped {
        display: block;
        position: relative;
        overflow: hidden;

        // [class] to get same specificity as elsewhere (kanban_view.less)
        &[class] .o_kanban_group:not(.o_column_folded) {
            .o_kanban_header {
                display: none;
            }

            .o_kanban_record,
            .o_kanban_quick_create {
                border: 0;
                border-bottom: 1px solid lightgray;
                padding: 10px 16px;
                margin: 0;
            }
        }
    }

    .o_dashboard {
        .oe_dashboard {
            position: relative;

            .oe_dashboard_column {
                .oe_action {
                    .oe_content {
                        .o_kanban_view {
                            position: relative;
                            flex-wrap: wrap-reverse;

                            .o_kanban_group {
                                position: relative;
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .o_account_dashboard_header {
        margin: 0px;

        .o_form_statusbar {
            .o_statusbar_status {
                text-align: left;

                &>h4 {
                    margin-bottom: 25px;
                    float: left;
                    text-align: left;
                    width: 100%;
                    padding-left: 5px;
                }

                .o_arrow_button {
                    margin-bottom: 5px;
                }
            }

            &>.pull-right {
                position: absolute;
                right: 0;
            }
        }
    }
}

@mixin kanban-responisve-xs() {
    .o_kanban_view {
        &.o_kanban_grouped {
            display: flex;
            flex-direction: column;
            overflow: auto !important;
        }

        .o_kanban_mobile_tabs_container {
            position: sticky;
            top: 0;

            .o_kanban_mobile_add_column {
                padding: 10px;
                height: 40px;
                border: 0;
                font-size: 14px;
                color: white;
            }
        }

        .o_kanban_columns_content {
            position: relative;

            .o_kanban_group {
                width: 100%;

                &:not(.o_column_folded) {
                    position: absolute;
                    left: 0px;
                    right: auto;
                }
            }
        }

        .o_column_quick_create {
            .o_quick_create_folded {
                display: none !important;
            }

            .o_quick_create_unfolded {
                width: 100%;

                .o_kanban_add {
                    z-index: 0;
                }
            }
        }
    }
}

body.o_web_client.ad_mobile {
    @include kanban-xs();
    @include kanban-responisve-xs();
}