body.o_web_client {
    .o_MobileMessagingNavbar_tab.o-active{
        color: var(--tele-theme-primary-color);
    }
    .o_MobileMessagingNavbar{
        background-color: var(--tele-theme-body-color) !important;
    }
    .o_ThreadViewTopbar{
        background-color: var(--tele-theme-body-color) !important;
    }
    .o_widget_Discuss {
        .o_ThreadPreview{
            background-color: var(--tele-theme-secondary-color) !important;
        }

        .o_Discuss{
            &.o-mobile{
                background-color: var(--tele-theme-body-color) !important;
                border-color: var(--tele-theme-secondary-color) !important;

                .o_DiscussMobileMailboxSelection{
                    padding: 0 15px;
                    gap: 5px;
                    .o_DiscussMobileMailboxSelection_button{
                        box-shadow: none !important;
                    }
                }
            }
        }
        .o_Discuss_content,
        .o_MessageList_empty,
        .o_Message,
        .o_MessageList,
        .o_MessageList_separatorLabel {
            background-color: var(--tele-theme-body-color) !important;
            color: var(--tele-theme-body-text-color) !important;
        }

        .o_DiscussSidebar {
            background-color: var(--tele-theme-body-color) !important;
            color: var(--tele-theme-body-text-color) !important;
        }

        .o_DiscussSidebarItem:hover {
            background-color: var(--tele-theme-body-color) !important;
            color: var(--tele-theme-body-text-color) !important;
        }

        .o_DiscussSidebarItem_activeIndicator.o-item-active {
            background-color: var(--tele-theme-primary-color) !important;
        }

        .o_Composer {
            background-color: var(--tele-theme-body-color) !important;
            color: var(--tele-theme-body-text-color) !important;

            .o_Composer_coreMain {

                .o_ComposerTextInput {
                    background-color: var(--tele-theme-secondary-color);
                    textarea {
                        background-color: var(--tele-theme-secondary-color) !important;
                        color: var(--tele-theme-secondary-text-color) !important;
                    }
                }

                .o_Composer_buttons {
                    .o_Composer_button:not(.btn-primary){
                        background-color: transparent !important;
                        color: var(--tele-theme-secondary-text-color) !important;
                        box-shadow: none !important;
                        outline: none !important;
                    }
                    .o_Composer_toolButtons {
                        background-color: var(--tele-theme-secondary-color) !important;
                        color: var(--tele-theme-secondary-text-color) !important;
                    }

                    .o_Composer_actionButtons {
                        .btn {
                            border-bottom-left-radius: 0 !important;
                            border-top-left-radius: 0 !important;
                        }
                    }
                }
            }
        }
        .o_ThreadViewTopbar_threadName.o-threadNameEditable{
            background-color: var(--tele-theme-secondary-color);
        }
    }
    &.dark_mode{
        .o_DiscussSidebarMailbox.o-active, .o_DiscussSidebarCategoryItem.o-active, .o_DiscussSidebarMailbox:hover, .o_DiscussSidebarCategoryItem:hover, .o_ChannelInvitationForm_selectablePartner:hover{
            background-color: var(--tele-theme-secondary-color) !important;
        }
    }
}