@mixin list-view() {
    .o_list_view {
        border-bottom: none;
        margin-bottom: 0;

        thead {
            background: $white;
            color: var(--Label-value);
            border-bottom: none;

            &>tr {
                height: 20px;
                background-color: rgba($button-box, .03);

                &>th {
                    border: 0;
                    text-transform: uppercase;
                    vertical-align: middle;
                    font-weight: bold;

                    &.o_list_record_selector {
                        .custom-checkbox {
                            padding-left: 32px;
                        }
                    }
                }
            }
        }

        tbody {
            tr.o_group_header {
                background-image: none;
                background-color: $brand-optinal !important;

                .o_group_name {
                    .fa {
                        font-size: 14px;
                        margin-left: 9px;
                        margin-right: 9px;
                    }
                }
            }


            &>tr:nth-of-type(odd) {
                background-color: transparent;
            }

            &>tr {
                height: 20px;

                &:first-child:not(.o_group_header) {
                    box-shadow: none;
                }

                &.o_default {
                    &>td {
                        padding-bottom: 25px !important;
                    }

                    .o_attachment_download {
                        display: flex;
                    }

                    .attachment-counter {
                        display: block;
                    }
                }

                &.o_comfortable {
                    .o_attachment_download {
                        display: none !important;
                    }

                    .attachment-counter {
                        display: none;
                    }
                }

                &.o_compact {
                    height: 20px;
                    padding: 4px 0;

                    .custom-checkbox {
                        margin: 0px;
                    }

                    .o_attachment_download {
                        display: none !important;
                    }

                    .attachment-counter {
                        display: none;
                    }

                    td {
                        padding: 0 0 0 0.3rem;
                        height: 20px;
                    }
                }

                &.o_data_row {

                    &.o_is_line_section,
                    &.o_is_line_note {
                        background-color: $tr-hover;
                    }
                }

                &>td {
                    border-top: 1px solid var(--border);
                    vertical-align: middle;

                    &.o_data_cell {
                        &>.o_labelcell {
                            border-radius: 2px;
                            font-size: $font-size-12;
                            font-weight: var(--font-weight-4);
                            width: 90px;
                            display: inherit;
                            padding: 5px;
                        }
                    }

                    &.o_field_x2many_list_row_add {
                        text-align: center;
                        margin: auto;

                        &>a {
                            width: auto;
                            width: 100%;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            vertical-align: middle;
                            text-align: center;
                            height: 100%;
                            text-transform: uppercase;
                            font-weight: var(--font-weight-5);

                            &:before {
                                content: "\f067";
                                font-family: FontAwesome;
                                margin-right: 5px;
                            }

                            &:hover,
                            &:active,
                            &:focus {
                                color: darken($brand-secondary, 7%);
                            }
                        }
                    }

                    &.o_list_record_selector {
                        .custom-checkbox {
                            padding-left: 32px;
                        }
                    }
                }

                &>td:nth-child(2) {
                    position: relative;
                    white-space: normal !important;
                    overflow: visible !important;
                    text-overflow: initial !important;

                    .o_attachment {
                        position: absolute;
                        left: 0;
                        bottom: 1px;
                        width: 100%;
                        text-align: left;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-wrap: nowrap;
                        border: 0;

                        .o_attachment_download {
                            display: flex;
                            margin-right: 5px;
                            border: 1px solid var(--border);
                            padding: 0 3px;
                            border-radius: 3px;
                            justify-content: center;
                            align-items: center;

                            .name {
                                margin-right: 5px;
                                white-space: nowrap;
                                max-width: 90px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            .o_image_box {
                                display: flex;
                                margin-right: 5px;

                                .o_image {
                                    width: 15px;
                                    height: 15px;
                                }
                            }

                            .attech_link {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }

                        .attachment-counter {
                            background-color: var(--brand-secondary);
                            color: $white;
                            padding: 0px 3px;
                        }
                    }
                }

                &:hover,
                &:focus-within {
                    background: $tr-hover;
                }

                &:last-child {

                    &:hover,
                    &:focus-within {
                        background: $tr-hover;
                    }
                }

                &.text-info {
                    color: $text-info;
                }

                &.text-danger {
                    color: $text-danger;
                }

                &.text-success {
                    color: $text-success;
                }

                &.text-warning {
                    color: $text-warning;
                }

                &.text-primary {
                    color: $text-primary;
                }

                &.text-muted {
                    color: $text-muted;
                }

                &.o_selected_row {
                    &>td {
                        background-color: transparent;
                    }
                }
            }

            .o_external_button {
                color: var(--brand-secondary);
                font-size: 16px !important;
            }
        }

        tfoot {
            background-color: $white;
            border-top: none;

            &>tr {
                height: 38px;
                border-bottom: 1px solid var(--border);
            }
        }

        &.o_list_view_grouped {
            &>tbody {
                &>tr {
                    &.o_group_header {
                        background-color: $tr-hover !important;
                    }
                }
            }
        }

        &.o_editable_list {
            .o_data_row.o_selected_row {
                .custom-checkbox {
                    padding-left: 30px !important;
                }
            }

            tbody {
                .o_data_row.o_selected_row {
                    .o_input {
                        padding: 2px;
                        min-height: auto !important;
                    }

                    textarea {
                        background-color: $white !important;
                    }

                    .o_external_button {
                        font-size: 13px;
                    }

                    .o_dropdown_button,
                    .o_datepicker_button {
                        top: 0;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                    }

                    .o_field_many2manytags {
                        min-height: auto;
                        height: auto;
                    }
                }
            }
        }

        .o_optional_columns_dropdown {
            max-height: calc(100vh - 150px);
            overflow: auto;
        }

        .o_list_record_selector {
            padding-left: 4px;
        }

        .o_resume_table {
            tbody {
                &>tr {
                    &:hover {
                        box-shadow: none;
                        background-color: $tr-hover;
                    }

                    &>td {
                        vertical-align: top;
                        border: 0;

                        .rounded-circle.bg-info {
                            background-color: var(--brand-secondary) !important;
                        }
                    }
                }
            }
        }

        .table-responsive {
            overflow: auto;
        }
    }
}

@mixin list-banner() {
    &.o_has_banner {
        .o_onboarding_container {
            &>.o_onboarding {
                .o_onboarding_wrap {
                    background-image: radial-gradient(circle, rgba($brand-secondary, 0.5), rgba($black, 0.5));
                }
            }
        }
    }
}