@mixin sync_activity_layout() {
    .o_activity_view {
        background-color: $btn-secondary;

        table {
            &.table-bordered {
                border-color: var(--border);
            }

            background-color: transparent;

            thead,
            tfoot {
                background: $night;

                &>tr {

                    &>th,
                    &>td {
                        border: 0;
                        color: var(--font-color);
                    }
                }
            }

            tbody {
                &>tr {
                    background-color: $btn-secondary;
                    color: var(--font-color);

                    &>td {
                        border-color: var(--border);

                        &.o_res_name_cell {
                            color: $night-hover;
                        }

                        &.o_activity_summary_cell:not(.planned) {
                            &:hover {
                                background-color: $night-light;

                                .fa {
                                    color: var(--font-color);
                                }
                            }
                        }

                        &:first-child {
                            background-color: $night-light;
                        }
                    }
                }
            }

            .o_activity_filter_overdue:not(.o_activity_summary_cell) {
                background-color: $btn-secondary !important;
            }
        }

        .o_activity {
            padding: 0 !important;
            border-color: var(--border) !important;

            .dropdown-item {
                .o_activity_log {
                    margin-bottom: 0 !important;

                    .o_activity_label {
                        background-color: $night;
                        border: 0;
                    }

                    .o_log_activity {
                        background-color: $btn-secondary;

                        .o_activity_title {
                            color: var(--font-color);

                            .o_activity_title_entry {
                                color: var(--font-color);

                                .text-dark,
                                .fa {
                                    color: var(--font-color) !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .o_activity_filter_overdue,
        .o_activity_filter_planned,
        .o_activity_filter_today,
        .o_activity_filter_today {
            background-color: $night-light;
        }
    }
}

// apply diract to not effect to other apply class color on o_activity_summary_cell
.oe_night_mode:not(.o_in_studio) .o_activity_view td.o_activity_summary_cell {
    background-color: $btn-secondary;
}