@mixin website_dashboards_view() {
    .o_dashboards {
        @include common-layout();

        .o_website_dashboard {
            background-color: $btn-secondary;

            .o_website_dashboard_content {
                .row {
                    .o_box {
                        background-color: $btn-secondary;
                        color: var(--font-color);

                        &>h2 {
                            color: $btn-primary;
                        }
                    }

                    .o_demo_background {
                        .o_layer {
                            background-color: rgba($night, .7)
                        }
                    }

                    .o_demo_message {
                        color: var(--font-color);
                    }
                }
            }
        }
    }

    .o_view_nocontent {
        .o_view_nocontent_smiling_face {
            color: var(--font-color);

            &:before {
                color: var(--font-color);
            }
        }

        .o_nocontent_help {
            color: var(--font-color);
        }
    }
}

@mixin web_settings_dashboard_view() {
    .o_web_settings_dashboard {
        background: $night-light;

        .o_web_settings_dashboard_col {
            &>div {
                background-color: $btn-secondary;
                color: var(--font-color);
                @include common-layout();

                a {
                    color: $btn-primary;
                }

                hr {
                    border-color: var(--border);
                }
            }
        }
    }
}

@mixin sync_dashboards_view() {
    .o_dashboard_view {
        background-color: $btn-secondary;

        .o_group {
            .o_group_col_2 .o_group_col_2 {
                background-color: $night;
                margin-right: 5px;

                &>* {
                    margin-right: 0px;
                }
            }

            label {
                color: var(--font-color);
            }
        }
    }
}