@mixin sync_kanban_view() {
    .o_kanban_view {
        background-color: $btn-secondary;

        .o_kanban_mobile_tabs {
            background-color: $btn-primary;

            .o_kanban_mobile_tab {
                &.o_current {
                    background: unset;
                    border-bottom: 2px solid var(--font-color);
                }
            }
        }

        .o_kanban_group {
            border-right: 0;

            .o_kanban_header {
                border-bottom: 0;

                .o_kanban_header_title {
                    color: var(--font-color);

                    .o_kanban_config,
                    .o_kanban_quick_add {
                        i {
                            color: var(--font-color);
                        }
                    }

                    .o_column_title,
                    .o_kanban_quick_add .fa-plus,
                    .o_kanban_config .fa-gear {
                        color: var(--font-color);
                    }
                }

                .o_kanban_counter {
                    .o_kanban_counter_progress {
                        background-color: $night-light;
                    }

                    .o_kanban_counter_side {
                        color: var(--font-color);
                    }
                }
            }

            .o_kanban_quick_create {
                background-color: $night;
                color: var(--font-color);
                border-color: var(--border);

                .o_view_controller {
                    .o_form_view {
                        background-color: transparent;
                    }
                }
            }

            .o_kanban_record {
                border-color: var(--border);
                background-color: $night;

                .o_kanban_record_title {
                    color: var(--font-color);
                }

                .o_kanban_tags {
                    .o_tag {
                        color: var(--font-color);
                    }
                }

                .oe_kanban_content {
                    .o_kanban_record_title {
                        color: $btn-primary;
                    }
                }
            }

            &.o_column_folded {
                background-color: $night;

                .o_kanban_header {

                    .o_kanban_header_title,
                    .o_column_title {
                        color: var(--font-color);

                        .o_column_unfold {
                            i {
                                color: var(--font-color);
                            }
                        }
                    }
                }
            }
        }

        .o_column_quick_create {
            background-color: transparent;

            .o_quick_create_unfolded {
                background-color: $btn-secondary;

                .o_kanban_muted_record {
                    background-color: $night;
                }

                .o_kanban_header {
                    .input-group {
                        background-color: transparent;
                    }
                }
            }

            .o_quick_create_folded {
                .o_kanban_add_column {
                    background-color: transparent !important;

                    .fa-plus {
                        color: var(--font-color);
                    }
                }

                .o_kanban_title {
                    color: var(--font-color);
                }
            }
        }

        .o_kanban_record {
            background-color: $night;
            color: var(--font-color);
            border-color: var(--border);

            .o_kanban_image,
            .o_kanban_image_full {
                background-color: var(--font-color);
            }

            .o_kanban_card_content {
                .bottom_block {
                    background-color: $night;
                }

                .o_kanban_primary_right .oe_kanban_action_a {
                    color: $btn-primary;
                }
            }

            .o_kanban_primary_left {
                .o_primary {
                    &>span:first-child {
                        color: $btn-primary;
                    }
                }
            }


            .o_event_left {
                background-color: $btn-primary;
                color: var(--font-color);
            }

            &.o_dropdown_open {
                .o_kanban_manage_toggle_button {
                    background-color: $btn-primary;
                    color: var(--font-color);
                    border-color: var(--border);
                }
            }

            .dropdown.show {
                .dropdown-toggle {
                    background-color: $btn-primary;
                    color: var(--font-color);
                    border-color: var(--border);
                }
            }

            .o_kanban_card_manage_pane.container {
                div[class*="col-"] {
                    &>div:not(.o_kanban_card_manage_title) {
                        &>a {
                            color: var(--font-color);

                            &:hover {
                                background-color: $btn-primary;
                                color: var(--font-color);
                            }
                        }
                    }

                    .o_kanban_card_manage_title {
                        color: var(--font-color);
                    }
                }

                .row.o_kanban_card_manage_settings {
                    div.text-right {
                        &>a {
                            color: var(--font-color);

                            &:hover {
                                background-color: $btn-primary;
                                color: var(--font-color);
                            }
                        }
                    }
                }
            }

            .oe_kanban_details,
            .o_kanban_record_headings {
                .o_kanban_record_title {
                    color: $btn-primary;

                    .o_lunch_purple {
                        color: $btn-primary;
                    }
                }
            }

            .o_kanban_record_title {
                color: var(--font-color);
            }
        }

        .o_activity {
            .o_no_activity {
                color: var(--font-color) !important;
            }

            .o_activity_log_container {
                background-color: $btn-secondary !important;

                .o_activity_label {
                    background-color: $night;
                    color: var(--font-color);
                }

                .border-bottom {
                    border: 0 !important;
                }

                .list-group-item:not(.o_activity_label) {
                    background-color: $btn-secondary;
                    color: var(--font-color);

                    .text-dark,
                    .text-muted {
                        color: var(--font-color) !important;
                    }
                }
            }
        }

        .o_helpdesk_dashboard {
            background-color: $night;

            table {
                tbody {
                    &>tr {
                        &>td {
                            background-color: $btn-secondary;
                            color: var(--font-color);
                            border-color: $night;
                            border-width: 3px;

                            &.o_dashboard_action {
                                background-color: $btn-primary;

                                a {
                                    color: var(--font-color);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .o_mail_activity {
        .o_activity {
            .dropdown-item-text {
                color: $font-color;
            }

            .o_activity_log_container {
                background-color: $btn-secondary !important;

                .o_activity_log {
                    .list-group-item-light {
                        background-color: $night;
                    }

                    .o_log_activity {
                        background-color: $btn-secondary;
                        border-bottom-color: var(--border);

                        .text-dark,
                        .text-muted {
                            color: #e1e1e1 !important;
                        }
                    }
                }
            }

            .o_activity_form {
                background-color: $btn-secondary;

                textarea {
                    background-color: $night;
                    color: $font-color;
                    border: $font-color;
                }
            }
        }
    }

    .o_lunch_kanban {
        .o_lunch_kanban_banner {
            background-color: $btn-secondary;
            border-color: var(--border);

            .card-body {
                color: var(--font-color);
            }
        }
    }

    .o_hr_attendance_kiosk_mode_container .o_hr_attendance_kiosk_mode {
        background-color: $btn-secondary;
    }

    .o_timeoff_container {
        .o_timeoff_card {
            color: var(--font-color);

            .o_timeoff_purple {
                color: $btn-primary;
            }
        }
    }

    .o_account_contract_dashboard {
        .o_stats_section {
            .on_stat_box {
                .o_stat_box {
                    background-color: transparent;

                    .o_graph {
                        background-color: transparent;
                    }
                }
            }
        }

        div.box {
            background-color: $night;
        }
    }

    &.o_social_stream_post_kanban_view_wrapper.bg-100 {
        background-color: $btn-secondary !important;

        .o_social_stream_post_kanban_before {
            border-bottom: 0 !important;
        }
    }

    &.o_documents_kanban {
        details.o_documents_mobile_inspector[open] .o_documents_inspector {
            background-color: $btn-secondary;
        }

        .o_documents_inspector {
            background-color: $night-light;
        }

        .o_document_chatter {
            background-color: $night-light !important;
        }

        .o_document_chatter_container {
            padding-top: 0;
            border-top: 1px solid var(--border);
        }

        .o_ChatterContainer {
            .o_Chatter {
                background-color: $btn-secondary;
                width: 100%;

                .o_MessageList {
                    background-color: $btn-secondary;

                    .o_MessageList_separatorLabel {
                        background-color: $night-light;
                    }

                    .o_MessageList_separatorLine {
                        border-color: var(--border) !important;
                    }

                    .o_Message {
                        background-color: $btn-secondary;

                        &.o-not-discussion {
                            border-bottom: 1px solid var(--border);
                            background-color: $night-light;
                        }

                        .o_Message_core {
                            .o_Message_prettyBody {
                                &>div {
                                    background-color: #3b4856 !important;
                                }
                            }
                        }
                    }
                }

                .o_AttachmentBox {
                    .o_Attachment {
                        background-color: $night-light;

                        .o_Attachment_asideItem {
                            &:hover {
                                background-color: $btn-primary;
                            }
                        }
                    }
                }

                .o_Chatter_fixedPanel {
                    .o_ChatterTopbar {
                        .o_ChatterTopbar_actions {
                            .o_ChatterTopbar_button {
                                &.o-active {
                                    color: white;
                                    background-color: $btn-primary;
                                }
                            }
                        }
                    }

                    .o_Composer {
                        background-color: $night;

                        .o_Composer_coreMain {
                            background-color: transparent;

                            .o_ComposerTextInput,
                            .o_ComposerTextInput_textarea {
                                background-color: transparent;
                                color: $font-color;
                            }

                            .o_Composer_buttons {
                                .o_Composer_toolButtons {
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }

                .o_ChatterTopbar_rightSection,
                .o_ChatterTopbar_actions {
                    justify-content: center;
                }

                .o_ChatterTopbar_rightSection {
                    width: 100%;
                }

                .o-autogrow {
                    display: none;
                }
            }
        }
    }

    .o_kanban_card_survey_successed {
        background-image: linear-gradient(rgba($night, 0.9), rgba($night, 0.9)), url(/tele_backend_theme_ent/static/src/img/cup.svg);
    }

    .o_stock_barcode_main_menu {
        background-color: $btn-secondary;
    }

    .o_documents_inspector,
    .o_documents_inspector .o_documents_inspector_preview {
        background-color: $night-light;
    }

    .o_kanban_view_wrapper {
        .o_helpdesk_dashboard {
            background-color: var(--night);
            border-color: var(--night);

            .table {
                color: var(--font-color);

                td.o_warning {
                    a {
                        color: var(--font-color) !important;
                    }
                }
            }
        }
    }
}