@mixin sync_model_view() {
    .modal {
        background-color: rgba($btn-primary, 0.4);

        .modal-dialog {
            .modal-content {

                .modal-header,
                .modal-footer {
                    background-color: $night !important;
                    color: var(--font-color);
                    border-radius: 2px;
                    border-color: var(--border);

                    .modal-title {
                        color: var(--font-color);
                    }

                    .close {
                        color: var(--font-color);
                    }
                }

                .modal-body {
                    background-color: $btn-secondary;
                    color: var(--font-color);
                    @include sync_form_view();
                    @include sync_list_view();
                    @include sync_control_panel_layout();
                    @include sync_kanban_view();

                    .o_view_controller {
                        .o_cp_controller {
                            .o_control_panel {
                                background-color: $btn-secondary;
                                border-color: var(--border);

                                .o_searchview {
                                    .o_searchview_input_container {
                                        .o_searchview_input {
                                            padding-left: 5px;
                                        }
                                    }

                                    .o_search_recs {
                                        background: $night;
                                        color: $font-color;
                                        border: 0;
                                    }

                                    .o_searchview_input_container {
                                        li.o-selection-focus {
                                            background-color: $btn-primary;

                                            &>a {
                                                color: $font-color;
                                            }
                                        }

                                        li:hover {
                                            background-color: $btn-primary;
                                        }
                                    }
                                }

                                .o_cp_pager {
                                    .o_pager {
                                        .btn-group {
                                            .btn-secondary {
                                                color: $font-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        @include sync_form_view();
                        @include sync_list_view();
                    }

                    .o_cp_bottom_right {
                        margin-left: auto;
                    }

                    table.table {
                        color: $font-color;
                    }

                    .o_kanban_view {
                        .o_kanban_record {
                            background-color: $night;
                            border-color: $border;
                            border-left: 0;
                            border-right: 0;
                            border-top: 0;
                        }
                    }


                    .o_modal_header {
                        .o_searchview {
                            background-color: $night;
                            color: $font-color;
                            border: 0;

                            .o_searchview_input_container {
                                .o_searchview_facet {
                                    border-radius: 2px;
                                    .o_searchview_facet_label {
                                        color: $font-color;
                                        background-color: $btn-primary;
                                        border: 0;
                                    }

                                    .o_facet_values {
                                        background-color: $night-light;
                                        color: $font-color;
                                    }

                                    .o_facet_remove {
                                        color: $font-color;
                                    }
                                }
                            }

                            .o-selection-focus {
                                background-color: $btn-primary;
                            }
                        }

                        .o_search_options {
                            .dropdown-menu {
                                .o_menu_item {
                                    a {
                                        color: $font-color;
                                    }
                                }
                            }

                            .o_dropdown {
                                &.show {
                                    .btn {
                                        background-color: $btn-primary;
                                        color: $font-color;
                                    }

                                    .custom-checkbox {
                                        .custom-control-label {
                                            &:before {
                                                outline: 1px solid $font-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .o_subtype.dropdown-item {
                        color: var(--font-color);

                        .custom-checkbox {
                            .custom-control-label {
                                color: var(--font-color);

                                &:before {
                                    outline: 1px solid $checkbox;
                                }
                            }
                        }

                        &:hover,
                        &:active,
                        &:focus {
                            background-color: $btn-primary;
                        }
                    }

                    .o_mobile_search_show_result {
                        background-color: $btn-primary !important;
                    }

                    &.o_kanban_examples_dialog {
                        .o_kanban_examples_dialog_nav {
                            border-color: var(--border);

                            .nav.nav-pills {
                                .nav-item {
                                    border-color: var(--border);

                                    .nav-link {
                                        background-color: $night-light;
                                        color: var(--font-color);

                                        &.active {
                                            background-color: $btn-primary;
                                            color: var(--font-color);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .o_error_detail {
                        background-color: $night;
                        border-color: var(--border);
                    }

                    .o_nocontent_help {
                        &>p {
                            color: $font-color;
                        }
                    }

                    .alert.clearfix {
                        &~div[style="background-color:#ececec;"] {
                            background-color: var(--night) !important;
                        }
                    }

                    .o_form_editable {
                        .o_form_sheet {
                            .o_group_name {
                                background-color: $night;
                            }
                        }
                    }
                }
            }
        }
    }

    .o_DialogManager {
        .o_Dialog {

            .modal-header,
            .modal-footer {
                background-color: $night;
            }

            .modal-body {
                background-color: var(--btn-secondary);

                .o_FollowerSubtypeList_subtypes {
                    .o_FollowerSubtype {
                        .o_FollowerSubtype_label {
                            &:hover {
                                background-color: var(--btn-primary);
                            }
                        }
                    }
                }
            }
        }
    }
}