@mixin lunch-view() {
    .o_lunch_content {
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;

        &>span {
            flex: 1;
            position: sticky;
            top: 0;
            z-index: 1;
        }

        .o_kanban_view {
            height: auto;
            flex: 1 1 100%;
            max-height: unset;
            overflow: auto;
        }

        .o_lunch_view {
            height: 100%;
        }
    }
}