@mixin purchase_view() {
    .o_purchase_dashboard {
        .table {

            tbody,
            thead {
                >tr {
                    >td {
                        border-top: 1px solid var(--border);

                        &:not(.o_text) {
                            background-color: $tr-hover;

                            &:hover {
                                background-color: darken($tr-hover, 7%);
                            }
                        }

                        &.o_main {
                            background-color: var(--brand-secondary);

                            &:hover {
                                background-color: darken($brand-secondary, 7%);
                            }
                        }
                    }
                }
            }
        }
    }
}