$tele_theme_color_type:style_1;
$tele_theme_primary_1_color:#227ed4;
$tele_theme_primary_2_color:#f5f5f5; 
$tele_theme_secondary_color:#f5f5fa;                                  
$tele_theme_background_type:none; 
// $tele_theme_background_color:#ffffff;              
$tele_button_type:style_1; 
// $tele_button_color_type:solid; 
$tele_button_primary_1_color:#227ed4; 
$tele_button_primary_2_color:#f5f5f5; 
$tele_button_secondary_color:#eeeeee;                                     
// $tele_is_use_google_font:False; 
// $tele_google_font_family:False;
$tele_sidebr_type:default; 
$tele_sidebar_position:left; 
$tele_font_style:default; 
$tele_checkbox_style:style_1; 
$tele_radion_btn_style:style_2;
$tele_theme_loading_type:default;
$tele_theme_scrollbar_style:style_1; 
$tele_theme_tab_style:default;
$tele_theme_form_style:default;

$tele_theme_sticky_tree_view:True;
$tele_theme_one2many_field_tree_view:True;
$tele_theme_sticky_form_view_chatter:True;
$tele_theme_sticky_form_view_statusbar:True; 
// $tele_theme_sticky_pivot_view:True; 
$tele_theme_separator_style:default;
$tele_theme_popup_style:default;
$tele_theme_font_size:small;